<link rel="stylesheet" href="/css/styleFinishSettings.css">
<% layout('layout/page') -%>
<% block('title') -%>

<form class="form-testSetting" name="testSetting">
<h3><b>Settings</b></h3><%=loginStudent%>

  <div class="checkbox">
    <label><input type="checkbox" value="" disabled><div class="text">Text</div></label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="" disabled><div class="sound">Sound</div></label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="" disabled><div class="swap">Swap</div></label>
  </div>
  <div class="checkbox checkSwapFinger">
    <label id="checkSwapFingerText"><input type="checkbox" value="" id="checkSwapFinger" disabled><div class="finger">Finger</div></label>
  </div>
  <div class="checkbox checkSwapArrows">
    <label id="checkSwapArrowsText"><input type="checkbox" value="" id="checkSwapArrows" disabled><div class="arrows">Arrows</div></label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="" disabled><div class="progressBar">Progress bar</div></label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="" disabled=""><div class="btnResult">Btn Results</div></label>
  </div>

    <div class="styleImages">

  <h5><b><div class="styleImagesSwap">Style Images: Swap arrows</div></b></h5>
  <div class="inputStyleImageSwap">
  <input type="range" value="1" min="1" max="5" id="styleImagesSwap" disabled>
  </div>
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  <h5><b><div class="styleImagesLikeDislike">Style Images: Like/Dislike</div></b></h5>
  <div class="inputStyleImagesLikeDislike">
  <input type="range" value="1" min="1" max="5" id="styleImagesLikeDislike" disabled>
  </div>
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  <h5><b><div class="styleImageStopTest">Style Image: STOP TEST</div></b></h5>
  <div class="inputStyleImageStopTest">
  <input type="range" value="1" min="1" max="5" id="styleImagesStopTest" disabled>
    </div>
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  <h5><b><div class="styleImageResults">Style Image: Results</div></b></h5>
    <div class="inputStyleImageResults">
    <input type="range" value="1" min="1" max="5" id="styleImagesResults" disabled>
      </div>
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  <h5><b>Style Image: Finish</b></h5>
  <input type="range" value="1" min="1" max="5" id="styleImagesFinish">
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  </div>

    <br>
    <h5><b>Language</b></h5>
    <SELECT name="Language" type="text" class="form-control" id="input-Language" disabled>
      <OPTION>English</OPTION>
      <OPTION>Russian</OPTION>
    </SELECT>


  <br><br><br>
  <div class="form-group">
    <label class="btn-acceptSettings">
      <button type="submit" class="btn btn-primary" data-loading-text="Sending..." t>Accept settings</button>
      <span class="help-block error"></span>
      </label>
  </div>

</form>
  </div>

<form class="form-testImages" name="testImages">
  <h1><b>AIT</b></h1>

    <div class="ImageStopTest">
      <img src="/imagesDefault/1234.png" class="img-responsive stopTest" id="styleStopTest_1">

  </div>

    <div class="wrapper">

    <div class="center">
      <h3 class="notConstantly" id="textFinish">Finish</h3>
      <img src="/imagesDefault/1234.png" class="img-responsive constantly">
    </div>

</div>

    <br><br>

<ul class="pagination">
  <li><span><a href="<%=linkTestSettings%>">Test</a></span></li>
  <li><a href="<%=linkUserTrainingSettings%>">User training</a></li>
  <li><a href="<%=linkPreResultSettings%>">Pre-result</a></li>
  <li><a href="<%=linkResultSettings%>">Result</a></li>
  <li class="active"><a>Finish</a></li>
</ul>

</form>
<span class="help-block error"></span>
