
<link rel="stylesheet" href="css/stylePersonalArea.css">
<% layout('layout/page') -%>
<% block('title') -%>

<h1><b>AIT</b></h1>
<div class="card-row clearfix">

        <div class="col-md-6">
          <div class="card">
<form class="leftSide" name="cabinet_leftForm">
  <h3 class="welcomeUser">Welcome, <%=email%></h3>



<% if (accessLevel == "Trainer") { %>
  <table cellspacing="0">
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Login</th>
        <th>Password</th>
    </tr>
     <% for(var i=0; i<links.length; i++) { %>
    <tr>
        <td><%=[i+1]%></td>
        <td><a href="<%=links[i]%>"><%=usernames[i]%></a></td>
        <td><%=genders[i]%></td>
        <td><%=ages[i]%></td>
        <td><%=logins[i]%></td>
        <td><%=passwords[i]%></td>
    </tr>
       <% } %>
</table>
<% } %>


    <% if (email == "admin@mail.ru") { %>
  <div class="chiefAdministrator">
  <br><br><br>
  <li><a href="/personalArea" onclick="$('body').append('<form id=\'submitme\' method=\'GET\' action=\'/getAllUsersInJSON\'></form>');$('#submitme').submit();return false;">Список пользователей в JSON-формате</a></li>
  <br><br>
  <li><a href="/personalArea" onclick="$('body').append('<form id=\'submitme\' method=\'GET\' action=\'/dropDatabase\'></form>');$('#submitme').submit();return false;">ОЧИСТИТЬ БАЗУ ДАННЫХ</a></li>
</div>
  <% } %>

</form>
  </div>
    </div>

  <% if (accessLevel == "Trainer") { %>
    <div class="col-md-6">
      <div class="card">
<form class="form-addNewUser" name="cabinet_addNewUser">
  <h4>Login</h4>
  <div class="form-group">
    <input name="loginNewUser" type="text" class="form-control" id="input-loginNewUser" placeholder="Login">
  </div>
    <h4>Password</h4>
    <div class="form-group">
      <input name="passwordNewUser" type="text" class="form-control" id="input-passwordNewUser" placeholder="Password">
    </div>
    <h4>Username</h4>
    <div class="form-group">
      <input name="usernameNewUser" type="text" class="form-control" id="input-usernameNewUser" placeholder="Name">
    </div>
    <h4>Age</h4>
    <div class="form-group">
      <input name="ageNewUser" type="text" class="form-control" id="input-ageNewUser" placeholder="Age">
    </div>
    <h4>Gender</h4>
    <div class="form-group">
      <SELECT name="genderNewUser" type="text" class="form-control" id="input-genderNewUser" >
        <OPTION>Male</OPTION>
        <OPTION>Female</OPTION>
      </SELECT>
    </div>

    <div class="form-group">
      <label class="btn-addNewUser">
        <button type="submit" class="btn btn-primary" data-loading-text="Sending..."id="addNewUser">Add new student</button>
      </form>
        <span class="help-block error"></span>
        </label>
    </div>
</div>
  </div>
  <% } %>
</div>


<script>
// Клиентский код //
// Человек вводит логин, email,
$(document.forms['cabinet_addNewUser']).on('submit', function() {
var form = $(this);
$('.error', form).html('');
$(":submit", form).button("loading");
// Этот логин, email, пароль отправляются на сервер
$.ajax({
  url: "/addNewUser", // роут: require('./registration').post
  method: "POST",
  data: form.serialize(),
  complete: function() {
    $(":submit", form).button("reset");
  }
  // ,
  // statusCode: {
  //   // если ответ сервера 200 - перенаправляем человека в личный кабинет(успешно создали нового пользователя)
  //   200: function() {
  //     form.html("Вы успешно зарегестрировались").addClass('alert-success');
  //     window.location.href = "/personalArea";
  //   }
  //,
  //   // если 403 - высвечивается ошибка(уже есть такой пользователь)
  //   403: function(jqXHR) {
  //     var error = JSON.parse(jqXHR.responseText);
  //     $('.error', form).html(error.message);
  //   }
  // }
});  window.location.href = "/";
return false;

});
</script>
