<link rel="stylesheet" href="/css/stylePre-ResultSettings.css">
<% layout('layout/page') -%>
<% block('title') -%>

<!-- LEFT START -->
    <div class="main-and-sidebar-wrapper-left">
      <form class="form-testSetting" name="pre-ResultSetting">
        <section class="main-left">

        <h2>Settings</h2>

<div class="checkbox">
  <label><input type="checkbox" value="<%=checkText%>" id="checkText" disabled><label class="text"> Text</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkSound%>" id="checkSound" disabled><label class="sound"> Sound</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkSwap%>" id="checkSwap" disabled><label class="swap"> Swap</label></label>
</div>
<div class="checkbox checkSwapFinger">
  <label id="checkSwapFingerText"><input type="checkbox" value="<%=checkSwapFinger%>" id="checkSwapFinger" disabled><label class="finger"> Finger</label></label>
</div>
<div class="checkbox checkSwapArrows">
  <label id="checkSwapArrowsText"><input type="checkbox" value="<%=checkSwapArrows%>" id="checkSwapArrows" disabled><label class="arrows"> Arrows</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkProgressBar%>" id="checkProgressBar" disabled><label class="progressBar"> Progress bar</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" class="checkbox_range" name="checkBtnResult" value="<%=checkBtnResult%>" min="0" max="1" id="checkBtnResult"><label class="btnResult"> Btn Results</label></label>
</div>
<br>

<div class="styleImages">

<h5><b><div class="styleImagesSwap">Style Images: Swap arrows</div></b></h5>
<input type="range" name="styleImagesSwap" class="inputStyleImageSwap" value="<%=styleImagesSwap%>" min="0" max="1" id="styleImagesSwap" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageLikeDislike">Style Images: Like/Dislike</div></b></h5>
<input type="range" name="styleImagesLikeDislike" class="inputStyleImagesLikeDislike" value="<%=styleImagesLikeDislike%>" min="0" max="1" id="styleImagesLikeDislike" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageStopTest">Style Image: STOP TEST</div></b></h5>
<input type="range" name="styleImageStopTest" class="styleImageStopTest" value="<%=styleImageStopTest%>" min="0" max="1" id="styleImageStopTest" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageResult">Style Image: Results</div></b></h5>
<input type="range" class="styleImageResults checkbox_range" name="styleImageResult" value="<%=styleImageResult%>" min="0" max="1" id="styleImageResult">
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageFinish">Style Image: Finish</div></b></h5>
<input type="range" class="styleImageFinish" value="<%=styleImageFinish%>" min="0" max="1" id="styleImageFinish" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

  <h6>Language</h6>
<SELECT name="Language" type="text" class="select-language" id="input-Language" disabled>
  <OPTION>English</OPTION>
  <OPTION>Russian</OPTION>
</SELECT>

<!-- <button type="submit" class="update-test-settings" id="updateTestSettings" data-loading-text="Accepting...">Accept</button> -->

</div>


        </section>
    </div>
  <!-- LEFT END -->

<!-- CENTER START -->
    <div class="main-and-sidebar-wrapper">
        <section class="main">


            <div class="main-left-part">
              <img src="" class="img-responsive notConstantly" id="imageBack">
              <img src="" class="img-responsive constantly" id="imageLike">
            </div>

            <div class="main-center-part">
              <h3 class="notConstantly" id="textQuestion"></h3>
              <img src="/imagesDefault/1234.png" class="img-responsive constantly">
            </div>

            <div class="main-right-part">
              <img src="" class="img-responsive stopTest" id="imageStopTest">
              <img src="" class="img-responsive notConstantly" id="imageNext">
              <img src="" class="img-responsive constantly" id="imageDislike">
            </div>

      <div class="styleImageBigBtnResults" id="styleImageBigBtnResults">
        <img src="" class="img-responsive bigBtnResults" id="imageResult">
      </div>

          <div class="pagination">
            <a href="<%=linkTestSettings%>">Test</a>
            <a href="<%=linkUserTrainingSettings%>">User training</a>
            <a class="active">Pre-result</a>
            <a href="<%=linkResultSettings%>">Result</a>
            <a href="<%=linkFinishSettings%>">Finish</a>
          </div>

        </section>
  </div>
<!-- CENTER END -->

  <!-- RIGHT START -->
    <div class="main-and-sidebar-wrapper-right">
        <section class="main-right">

        </section>
        </form>
    </div>
  <!-- RIGHT END -->

    <!-- <footer>
        <h3>Footer</h3>
        <p>Something.</p>
    </footer> -->


    <script src="/socket.io/socket.io.js"></script>

        <script>
    // Обновление настроек теста на СОКЕТАХ
          var socket = io.connect();
          var id = "<%=id%>";

          var modifiedElement = document.querySelectorAll('.checkbox_range')

          for(var i=0; i < modifiedElement.length; i++){
              modifiedElement[i].addEventListener('change', ev => {

                // Чекбоксы
                let checkText = $("#checkText").is(':checked');
                let checkSound = $("#checkSound").is(':checked');
                let checkSwap = $("#checkSwap").is(':checked');
                let checkSwapFinger = $("#checkSwapFinger").is(':checked');
                let checkSwapArrows = $("#checkSwapArrows").is(':checked');
                let checkProgressBar = $("#checkProgressBar").is(':checked');
                let checkBtnResult = $("#checkBtnResult").is(':checked');

                // Ranges
                let styleImagesSwap = $("#styleImagesSwap").val();
                let styleImagesLikeDislike = $("#styleImagesLikeDislike").val();
                let styleImageStopTest = $("#styleImageStopTest").val();
                let styleImageResult = $("#styleImageResult").val();
                let styleImageFinish = $("#styleImageFinish").val();

                socket.emit('message', { text: String (checkText), sound: String (checkSound),
                  swap: String (checkSwap), swap_finger: String (checkSwapFinger),
                  swap_arrows: String (checkSwapArrows), progress_bar: String (checkProgressBar),
                  btn_results: String (checkBtnResult),
                   style_images_swap_arrows: String (styleImagesSwap),
                   style_images_like_dislike: String (styleImagesLikeDislike),
                   style_image_stop_test: String (styleImageStopTest),
                   style_image_results: String (styleImageResult),
                   style_image_finish: String (styleImageFinish),
                    userID: id });


                  // МАГИЯ - без этого со 2 раза срабатывает только
                  console.log (socket.emit('message', { text: String (checkText), sound: String (checkSound),
                    swap: String (checkSwap), swap_finger: String (checkSwapFinger),
                    swap_arrows: String (checkSwapArrows), progress_bar: String (checkProgressBar),
                    btn_results: String (checkBtnResult),
                     style_images_swap_arrows: String (styleImagesSwap),
                     style_images_like_dislike: String (styleImagesLikeDislike),
                     style_image_stop_test: String (styleImageStopTest),
                     style_image_results: String (styleImageResult),
                     style_image_finish: String (styleImageFinish),
                     userID: id }) + " socket");
            })
          }
        </script>



    <script>
    // Проверка наличия кнопки результатов теста
    document.getElementById('checkBtnResult').onclick = function() {
        if ( this.checked ) {
      $("#styleImageBigBtnResults").css("opacity","1");
      document.getElementById("styleImageResult").disabled = false;
      $(".styleImageResult").css("opacity","1");
      $("#styleImageResult").css("opacity","1");
        } else {
           $("#styleImageBigBtnResults").css("opacity","0");
           document.getElementById("styleImageResult").disabled = true;
           $(".styleImageResult").css("opacity","0.5");
           $("#styleImageResult").css("opacity","0.5");
        }
    };
    if (document.getElementById('checkBtnResult').value == "false") {
      $(".styleImageResult").css("opacity","0.5");
      $("#styleImageResult").css("opacity","0.5");
      document.getElementById("styleImageResult").disabled = true;
      $("#styleImageBigBtnResults").css("opacity","0");
    }
    </script>

    <script>
    // Отрисовка галочки от значения из БД
    if (document.getElementById('checkText').value == "true") {
          $('#checkText').prop('checked', true);
        }
    if (document.getElementById('checkSound').value == "true") {
        $('#checkSound').prop('checked', true);
      }
    if (document.getElementById('checkSwap').value == "true") {
        $('#checkSwap').prop('checked', true);
      }
    if (document.getElementById('checkSwapFinger').value == "true") {
        $('#checkSwapFinger').prop('checked', true);
      }
    if (document.getElementById('checkSwapArrows').value == "true") {
        $('#checkSwapArrows').prop('checked', true);
      }
    if (document.getElementById('checkProgressBar').value == "true") {
        $('#checkProgressBar').prop('checked', true);
      }
    if (document.getElementById('checkBtnResult').value == "true") {
        $('#checkBtnResult').prop('checked', true);
      }
    </script>

<script src="/js/countImagesRange.js"></script>

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDivSiqkv7QoDAe8qiY1QevU5N4vQ7aHZw",
        authDomain: "profpref-c5ce0.firebaseapp.com",
        databaseURL: "https://profpref-c5ce0.firebaseio.com",
        projectId: "profpref-c5ce0",
        storageBucket: "profpref-c5ce0.appspot.com",
        messagingSenderId: "664101035809"
      };
      firebase.initializeApp(config);
      // Получаем доступ к Хранилищу
      var storage = firebase.app().storage("profpref-c5ce0.appspot.com");
       // Стиль стоп теста
       $("#styleImageStopTest").on("input change", function() {
         var styleImageStopTest = $("#styleImageStopTest").val();
         var urlStopTest = storage.ref("/manager_buttons/stop_test/" + styleImageStopTest + "/" +"stop.png");
         urlStopTest.getDownloadURL().then(function(url) {
           console.log(url);
           $("#imageStopTest").attr('src', url);
         });
        });
        // Стиль кнопки результатов
        $("#styleImageResult").on("input change", function() {
          var styleImageResult = $("#styleImageResult").val();
          var urlResult = storage.ref("/manager_buttons/btn_result/" + styleImageResult + "/" +"result.png");
          urlResult.getDownloadURL().then(function(url) {
            console.log(url);
            $("#imageResult").attr('src', url);
          });
         });
       /////////////////////////////////////////////////////////////////////////////////////////////
      var styleImageStopTest = $("#styleImageStopTest").val();
      var urlStopTest = storage.ref("/manager_buttons/stop_test/" + styleImageStopTest + "/" +"stop.png");
      urlStopTest.getDownloadURL().then(function(url) {
        console.log(url);
        $("#imageStopTest").attr('src', url);
      });
      var styleImageResult = $("#styleImageResult").val();
      var urlResult = storage.ref("/manager_buttons/btn_result/" + styleImageResult + "/" +"result.png");
      urlResult.getDownloadURL().then(function(url) {
        console.log(url);
        $("#imageResult").attr('src', url);
      });
    </script>
