<link rel="stylesheet" href="/css/styleResultTest.css">
<% layout('layout/page') -%>
<% block('title') -%>

<!-- LEFT START -->
  <div class="main-and-sidebar-wrapper-left">
      <section class="main-left">

      </section>
  </div>
<!-- LEFT END -->

<!-- CENTER START -->
  <div class="main-and-sidebar-wrapper">
      <section class="main">
          <h1>AIT</h1>
          <p></p>
          <form class="form-updateStudent" name="cabinet_updateStudent">
          <table>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Current test</th>
                <th scope="col">Current result</th>
                <th scope="col">Test settings</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td aria-label="Name"><input name="updateNameStudent" type="text" value="<%=nameStudent%>" class="update-personal-data" id="input-updateNameStudent" placeholder="Name" required></td>
                <td aria-label="Gender">
                  <SELECT name="updateGenderStudent" type="text" class="update-personal-data" id="input-genderNewUser" required>
                    <% switch (genderStudent) {
                         case "Male": %>
                           <OPTION><%=genderStudent%></OPTION>
                           <OPTION>Female</OPTION>
                            <% break; %><%
                           case "Female": %>
                             <OPTION><%=genderStudent%></OPTION>
                             <OPTION>Male</OPTION>
                              <% break; %> <% } %>
                    </SELECT></td>
                <td aria-label="Age"><input name="updateAgeStudent" type="text" value="<%=ageStudent%>" class="update-personal-data" id="input-updateAgeStudent" placeholder="Age" required pattern="^[ 0-9]+$"></td>
                <td aria-label="Current test">
                  <SELECT name="updateCurrentTest" type="text" class="update-personal-data" id="input-currentTest" required>
                    <% switch (currentTest) {
                    case "1": %>
                      <OPTION><%=currentTest%></OPTION>
                      <OPTION>2</OPTION>
                       <% break; %><%
                      case "2": %>
                        <OPTION><%=currentTest%></OPTION>
                        <OPTION>1</OPTION>
                         <% break; %> <% } %>
                  <OPTION><%=currentTest%></OPTION>
                  <OPTION>1</OPTION>
        </SELECT></td>
                <td aria-label="Current result">
                  <SELECT name="updateCurrentResult" type="text" class="update-personal-data" id="input-currentResult" required>
                    <OPTION><%=currentResult%></OPTION>
                      <% for(var i=1; i<=numbersResults; i++) { %>
                    <OPTION><%=[i]%></OPTION>
                     <% } %>
        </SELECT></td>
                <td aria-label="Test settings"><a href="<%=link%>">Start</a></td>

              </tr>
            </tbody>
          </table>
    <button type="submit" class="update-student" data-loading-text="Updating..."id="updateStudent">Update student</button>
    </form>

    <form class="form-deleteStudent" name="cabinet_deleteStudent">
    <button type="submit" class="delete-student" data-loading-text="Deleting..."id="deleteStudent">Delete student</button>
    </form>

<h2>Current Login</h2>
<div class = "settings_entrance_input" id="">
<img src="<%=url_1_login%>" class="img-responsive" id="imageEntranceLoginInput_1">
<img src="<%=url_2_login%>" class="img-responsive" id="imageEntranceLoginInput_2">
<img src="<%=url_3_login%>" class="img-responsive" id="imageEntranceLoginInput_3">
<img src="<%=url_4_login%>" class="img-responsive" id="imageEntranceLoginInput_4">
<img src="<%=url_5_login%>" class="img-responsive" id="imageEntranceLoginInput_5">
<img src="<%=url_6_login%>" class="img-responsive" id="imageEntranceLoginInput_6">
<img src="<%=url_7_login%>" class="img-responsive" id="imageEntranceLoginInput_7">
<input name="imageEntranceLoginInput_1" class="imageEntranceLoginInput_1" type="hidden" value="">
<input name="imageEntranceLoginInput_2" class="imageEntranceLoginInput_2" type="hidden" value="">
<input name="imageEntranceLoginInput_3" class="imageEntranceLoginInput_3" type="hidden" value="">
<input name="imageEntranceLoginInput_4" class="imageEntranceLoginInput_4" type="hidden" value="">
<input name="imageEntranceLoginInput_5" class="imageEntranceLoginInput_5" type="hidden" value="">
<input name="imageEntranceLoginInput_6" class="imageEntranceLoginInput_6" type="hidden" value="">
<input name="imageEntranceLoginInput_7" class="imageEntranceLoginInput_7" type="hidden" value="">
<!-- <img src="/imagesDefault/delete_all.png" class="img-responsive delete_all" id="delete_all_images_login"> -->
</div>
<!-- <div class = "settings_entrance_input" id="styleSettingsEntrance">
<img src="" class="img-responsive" id="imageEntranceLogin_1">
<img src="" class="img-responsive" id="imageEntranceLogin_2">
<img src="" class="img-responsive" id="imageEntranceLogin_3">
<img src="" class="img-responsive" id="imageEntranceLogin_4">
<img src="" class="img-responsive" id="imageEntranceLogin_5">
<img src="" class="img-responsive" id="imageEntranceLogin_6">
<img src="" class="img-responsive" id="imageEntranceLogin_7">
</div> -->

<h2>Current Password</h2>
<div class = "settings_entrance_input" id="">
<img src="<%=url_1_password%>" class="img-responsive" id="imageEntrancePasswordInput_1">
<img src="<%=url_2_password%>" class="img-responsive" id="imageEntrancePasswordInput_2">
<img src="<%=url_3_password%>" class="img-responsive" id="imageEntrancePasswordInput_3">
<img src="<%=url_4_password%>" class="img-responsive" id="imageEntrancePasswordInput_4">
<img src="<%=url_5_password%>" class="img-responsive" id="imageEntrancePasswordInput_5">
<img src="<%=url_6_password%>" class="img-responsive" id="imageEntrancePasswordInput_6">
<img src="<%=url_7_password%>" class="img-responsive" id="imageEntrancePasswordInput_7">
<input name="imageEntrancePasswordInput_1" class="imageEntrancePasswordInput_1" type="hidden" value="">
<input name="imageEntrancePasswordInput_2" class="imageEntrancePasswordInput_2" type="hidden" value="">
<input name="imageEntrancePasswordInput_3" class="imageEntrancePasswordInput_3" type="hidden" value="">
<input name="imageEntrancePasswordInput_4" class="imageEntrancePasswordInput_4" type="hidden" value="">
<input name="imageEntrancePasswordInput_5" class="imageEntrancePasswordInput_5" type="hidden" value="">
<input name="imageEntrancePasswordInput_6" class="imageEntrancePasswordInput_6" type="hidden" value="">
<input name="imageEntrancePasswordInput_7" class="imageEntrancePasswordInput_7" type="hidden" value="">
<!-- <img src="/imagesDefault/delete_all.png" class="img-responsive delete_all" id="delete_all_images_password"> -->
</div>

<!-- <div class = "settings_entrance_input" id="">
<img src="" class="img-responsive" id="imageEntrancePassword_1">
<img src="" class="img-responsive" id="imageEntrancePassword_2">
<img src="" class="img-responsive" id="imageEntrancePassword_3">
<img src="" class="img-responsive" id="imageEntrancePassword_4">
<img src="" class="img-responsive" id="imageEntrancePassword_5">
<img src="" class="img-responsive" id="imageEntrancePassword_6">
<img src="" class="img-responsive" id="imageEntrancePassword_7">
</div> -->

<h3 id="currentQuestion">Current question: <%=currentQuestion%></h3>
<h3 id="currentState">Current state: <%=currentState%></h3>

<table id="tl_results">
  <caption><b>Test results</b></caption>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Category</th>
      <th scope="col">Title</th>
      <th scope="col">Answer</th>
      <th scope="col">Level of happiness</th>
    </tr>
</table>

<table id="tl_category_results">
  <caption><b>Category results</b></caption>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Category</th>
      <th scope="col">Accept</th>
      <th scope="col">Counter</th>
    </tr>
</table>

      </section>
  </div>
<!-- CENTER END -->

<!-- RIGHT START -->
  <div class="main-and-sidebar-wrapper-right">
      <section class="main-right">

      </section>
  </div>
<!-- RIGHT END -->

  </div>

  <footer>
      <h3>Footer</h3>
      <p>Something.</p>
  </footer>




<script>
var config = {
  apiKey: "AIzaSyDivSiqkv7QoDAe8qiY1QevU5N4vQ7aHZw",
  authDomain: "profpref-c5ce0.firebaseapp.com",
  databaseURL: "https://profpref-c5ce0.firebaseio.com",
  projectId: "profpref-c5ce0",
  storageBucket: "profpref-c5ce0.appspot.com",
  messagingSenderId: "664101035809"
};
firebase.initializeApp(config);

// Отслеживаем текущий вопрос студента
var refStudents = firebase.database().ref("students/" + "<%=id%>");
var refCurrentQuestion = refStudents.child("/student_state/");

// Получаем доступ к Хранилищу
var storage = firebase.app().storage("profpref-c5ce0.appspot.com");

// устанавливаем слушатель child_changed
refStudents.on('child_changed', function(data) {
// существующий текущий вопр был изменен, получаем снэпшот, берем оттуда данные и обновляем пользовательский интерфейс
refCurrentQuestion.once("value")
 .then(function(snapshotState) {
   var currentQuestion = snapshotState.child('current_question').val();
   var currentState = snapshotState.child('state').val();

       var currentQuestionHTML = currentQuestion;
       var currentStateHTML = currentState;
       document.getElementById('currentQuestion').innerHTML = currentQuestionHTML;
       document.getElementById('currentState').innerHTML = currentStateHTML;
       console.log(currentQuestion + " studentState");
 });
});


var refAnswer = firebase.database().ref("students/" + "<%=id%>" + "/tests/" + "<%=currentTest%>" + "/results/" + "<%=currentResult%>");
//console.log("students/" + "<%=id%>" + "/tests/" + "<%=currentTest%>" + "/results/" + "<%=currentResult%>");

// устанавливаем слушатель child_changed
refAnswer.on('child_added', function(snapshot) {
  // console.log(snapshot.child('answer').val());
  // console.log(snapshot.child('category').val());
  // console.log(snapshot.child('title').val());
  var answer;
  var levelHappiness;

  if(snapshot.child('answer').val() == "-1") {
     answer = "<font color=" + "#D50000" + ">Dislike</font>"
   }
   if(snapshot.child('answer').val() == "0") {
     answer = "<font color=" + "#F9A825" + ">Swap</font>"
   }
    if(snapshot.child('answer').val() == "1") {
     answer = "<font color=" + "#4CAF50"+ ">Like</font>"
   }

  if (snapshot.child('category').val() != null) {
    $('#tl_results tbody').append('<tr cla ss="child"><td>' + (Number(snapshot.key) + 1) + '</td>' +
                                                    '<td>' + snapshot.child('category').val() + '</td>' +
                                                    '<td>' + snapshot.child('title').val() + '</td>' +
                                                    '<td>' + answer + '</td>' +
                                                    '<td>' + snapshot.child('pushHappines').val() + '</td>' +
                                                           + '</tr>');
                                                      }
});


// Обсчет результатов - сколько набрала какая категория и т.п
var refCategory = firebase.database().ref("students/" + "<%=id%>" + "/tests/" + "<%=currentTest%>" + "/results/" + "<%=currentResult%>" + "/category/");

refCategory.on('child_added', function(snapshotCountCategory) {
//console.log(snapshotCountCategory.child('stateAccept').val());
//console.log(snapshotCountCategory.child('titleCategory').val());


// var point = 0;
// refAnswer.on('child_added', function(snapshotAnswer) {
//  if(snapshotCountCategory.child('titleCategory').val() == snapshotAnswer.child('category').val()) {
//     var answerQuestion = Number(snapshotAnswer.child('answer').val());
//     point += answerQuestion;
//   }console.log(answerQuestion + " point");
// });

// ХЗ ПОКА ЧТО ХЗ ПОКА ЧТО ХЗ ПОКА ЧТО ХЗ ПОКА ЧТО ХЗ ПОКА ЧТО
// refAnswer.once('child_added', function(snapshotAnswer) {
//    var point = 0;
//
//    if(snapshotCountCategory.child('titleCategory').val() == snapshotAnswer.child('category').val())
//    {
//      var answerQuestion = Number(snapshotAnswer.child('answer').val());
//      point += answerQuestion;
//    }
//    console.log(point + " point");
//
// });

  var category;
  if(snapshotCountCategory.child('stateAccept').val() == "-1") {
    category = "<td><font color=" + "#4CAF50" + ">Accept</font></td>"
   }
    if(snapshotCountCategory.child('stateAccept').val() == "1") {
     category = "<td><font color=" + "#D50000"+ ">Not accept</font></td"
   }

   //console.log(category);
   $('#tl_category_results tbody').append('<tr class="child"><td>' + (Number(snapshotCountCategory.key) + 1) + '</td>' +
                                                             '<td>' + snapshotCountCategory.child('titleCategory').val() + '</td>' +
                                                               category +
                                                             + '</tr>');
 });


 // Подкгружаем из хранилища набор дефолтных каритнок для составления логина и пароля
  var url_1= storage.ref("entrance/1.png");
  var url_2 = storage.ref("entrance/2.png");
  var url_3 = storage.ref("entrance/3.png");
  var url_4= storage.ref("entrance/4.png");
  var url_5 = storage.ref("entrance/5.png");
  var url_6 = storage.ref("entrance/6.png");
  var url_7 = storage.ref("entrance/7.png");


  // Подгруз логина НАЧАЛО
  url_1.getDownloadURL().then(function(url) {

    // Сделать функцию бы
    var str = url;
    var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
    var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

    $("#imageEntranceLogin_1").attr('src', url); // Для отображения в верхней части

    $("#imageEntranceLogin_1").bind("click", function() { // клик по нижней части
      if($("#imageEntranceLoginInput_1").attr("src") == "") {
          $("#imageEntranceLoginInput_1").attr("src", url); // кладем в верхнюю изображение
          $(".imageEntranceLoginInput_1").val(strNumber); // номер фотки для вставки в БД
          //console.log (imageEntranceLoginInput_1.src + " imageEntranceLoginInput_1");

        } else if ($("#imageEntranceLoginInput_2").attr("src") == ""){
            $("#imageEntranceLoginInput_2").attr("src", url);
             $(".imageEntranceLoginInput_2").val(strNumber);
        }
        else if ($("#imageEntranceLoginInput_3").attr("src") == ""){
           $("#imageEntranceLoginInput_3").attr("src", url);
             $(".imageEntranceLoginInput_3").val(strNumber);
       }
       else if ($("#imageEntranceLoginInput_4").attr("src") == ""){
          $("#imageEntranceLoginInput_4").attr("src", url);
            $(".imageEntranceLoginInput_4").val(strNumber);
      }
      else if ($("#imageEntranceLoginInput_5").attr("src") == ""){
         $("#imageEntranceLoginInput_5").attr("src", url);
           $(".imageEntranceLoginInput_5").val(strNumber);
     }
     else if ($("#imageEntranceLoginInput_6").attr("src") == ""){
        $("#imageEntranceLoginInput_6").attr("src", url);
          $(".imageEntranceLoginInput_6").val(strNumber);
    }
    else if ($("#imageEntranceLoginInput_7").attr("src") == ""){
       $("#imageEntranceLoginInput_7").attr("src", url);
         $(".imageEntranceLoginInput_7").val(strNumber);

   }
    });
  });

  url_2.getDownloadURL().then(function(url) {

    // Сделать функцию бы
    var str = url;
    var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
    var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

    $("#imageEntranceLogin_2").attr('src', url);

    $("#imageEntranceLogin_2").bind("click", function() {
      if($("#imageEntranceLoginInput_1").attr("src") == "") {
          $("#imageEntranceLoginInput_1").attr("src", url);
          $(".imageEntranceLoginInput_1").val(strNumber);
        } else if ($("#imageEntranceLoginInput_2").attr("src") == ""){
            $("#imageEntranceLoginInput_2").attr("src", url);
            $(".imageEntranceLoginInput_2").val(strNumber);
        }
        else if ($("#imageEntranceLoginInput_3").attr("src") == ""){
           $("#imageEntranceLoginInput_3").attr("src", url);
           $(".imageEntranceLoginInput_3").val(strNumber);
       }
       else if ($("#imageEntranceLoginInput_4").attr("src") == ""){
          $("#imageEntranceLoginInput_4").attr("src", url);
          $(".imageEntranceLoginInput_4").val(strNumber);
      }
      else if ($("#imageEntranceLoginInput_5").attr("src") == ""){
         $("#imageEntranceLoginInput_5").attr("src", url);
         $(".imageEntranceLoginInput_5").val(strNumber);
     }
     else if ($("#imageEntranceLoginInput_6").attr("src") == ""){
        $("#imageEntranceLoginInput_6").attr("src", url);
        $(".imageEntranceLoginInput_6").val(strNumber);
    }
    else if ($("#imageEntranceLoginInput_7").attr("src") == ""){
       $("#imageEntranceLoginInput_7").attr("src", url);
       $(".imageEntranceLoginInput_7").val(strNumber);
   }
    });
  });

  url_3.getDownloadURL().then(function(url) {

    // Сделать функцию бы
    var str = url;
    var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
    var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

    $("#imageEntranceLogin_3").attr('src', url);

    $("#imageEntranceLogin_3").bind("click", function() {
      if($("#imageEntranceLoginInput_1").attr("src") == "") {
          $("#imageEntranceLoginInput_1").attr("src", url);
          $(".imageEntranceLoginInput_1").val(strNumber);
        } else if ($("#imageEntranceLoginInput_2").attr("src") == ""){
            $("#imageEntranceLoginInput_2").attr("src", url);
            $(".imageEntranceLoginInput_2").val(strNumber);
        } else if ($("#imageEntranceLoginInput_3").attr("src") == ""){
            $("#imageEntranceLoginInput_3").attr("src", url);
            $(".imageEntranceLoginInput_3").val(strNumber);
        }
        else if ($("#imageEntranceLoginInput_4").attr("src") == ""){
           $("#imageEntranceLoginInput_4").attr("src", url);
           $(".imageEntranceLoginInput_4").val(strNumber);
       }
       else if ($("#imageEntranceLoginInput_5").attr("src") == ""){
          $("#imageEntranceLoginInput_5").attr("src", url);
          $(".imageEntranceLoginInput_5").val(strNumber);
      }
      else if ($("#imageEntranceLoginInput_6").attr("src") == ""){
         $("#imageEntranceLoginInput_6").attr("src", url);
         $(".imageEntranceLoginInput_6").val(strNumber);
     }
     else if ($("#imageEntranceLoginInput_7").attr("src") == ""){
        $("#imageEntranceLoginInput_7").attr("src", url);
        $(".imageEntranceLoginInput_7").val(strNumber);
    }
    });
  });

  url_4.getDownloadURL().then(function(url) {

    // Сделать функцию бы
    var str = url;
    var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
    var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

    $("#imageEntranceLogin_4").attr('src', url);

    $("#imageEntranceLogin_4").bind("click", function() {
      if($("#imageEntranceLoginInput_1").attr("src") == "") {
          $("#imageEntranceLoginInput_1").attr("src", url);
          $(".imageEntranceLoginInput_1").val(strNumber);
        } else if ($("#imageEntranceLoginInput_2").attr("src") == ""){
            $("#imageEntranceLoginInput_2").attr("src", url);
            $(".imageEntranceLoginInput_2").val(strNumber);
        } else if ($("#imageEntranceLoginInput_3").attr("src") == ""){
            $("#imageEntranceLoginInput_3").attr("src", url);
            $(".imageEntranceLoginInput_3").val(strNumber);
        }
        else if ($("#imageEntranceLoginInput_4").attr("src") == ""){
           $("#imageEntranceLoginInput_4").attr("src", url);
           $(".imageEntranceLoginInput_4").val(strNumber);
       }
       else if ($("#imageEntranceLoginInput_5").attr("src") == ""){
          $("#imageEntranceLoginInput_5").attr("src", url);
          $(".imageEntranceLoginInput_5").val(strNumber);
      }
      else if ($("#imageEntranceLoginInput_6").attr("src") == ""){
         $("#imageEntranceLoginInput_6").attr("src", url);
         $(".imageEntranceLoginInput_6").val(strNumber);
     }
     else if ($("#imageEntranceLoginInput_7").attr("src") == ""){
        $("#imageEntranceLoginInput_7").attr("src", url);
        $(".imageEntranceLoginInput_7").val(strNumber);
    }
    });
  });

  url_5.getDownloadURL().then(function(url) {

    // Сделать функцию бы
    var str = url;
    var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
    var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

    $("#imageEntranceLogin_5").attr('src', url);

    $("#imageEntranceLogin_5").bind("click", function() {
      if($("#imageEntranceLoginInput_1").attr("src") == "") {
          $("#imageEntranceLoginInput_1").attr("src", url);
          $(".imageEntranceLoginInput_1").val(strNumber);
        } else if ($("#imageEntranceLoginInput_2").attr("src") == ""){
            $("#imageEntranceLoginInput_2").attr("src", url);
            $(".imageEntranceLoginInput_2").val(strNumber);
        } else if ($("#imageEntranceLoginInput_3").attr("src") == ""){
            $("#imageEntranceLoginInput_3").attr("src", url);
            $(".imageEntranceLoginInput_3").val(strNumber);
        }
        else if ($("#imageEntranceLoginInput_4").attr("src") == ""){
           $("#imageEntranceLoginInput_4").attr("src", url);
           $(".imageEntranceLoginInput_4").val(strNumber);
       }
       else if ($("#imageEntranceLoginInput_5").attr("src") == ""){
          $("#imageEntranceLoginInput_5").attr("src", url);
          $(".imageEntranceLoginInput_5").val(strNumber);
      }
      else if ($("#imageEntranceLoginInput_6").attr("src") == ""){
         $("#imageEntranceLoginInput_6").attr("src", url);
         $(".imageEntranceLoginInput_6").val(strNumber);
     }
     else if ($("#imageEntranceLoginInput_7").attr("src") == ""){
        $("#imageEntranceLoginInput_7").attr("src", url);
        $(".imageEntranceLoginInput_7").val(strNumber);
    }
    });
  });

  url_6.getDownloadURL().then(function(url) {

    // Сделать функцию бы
    var str = url;
    var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
    var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

    $("#imageEntranceLogin_6").attr('src', url);

    $("#imageEntranceLogin_6").bind("click", function() {
      if($("#imageEntranceLoginInput_1").attr("src") == "") {
          $("#imageEntranceLoginInput_1").attr("src", url);
          $(".imageEntranceLoginInput_1").val(strNumber);
        } else if ($("#imageEntranceLoginInput_2").attr("src") == ""){
            $("#imageEntranceLoginInput_2").attr("src", url);
            $(".imageEntranceLoginInput_2").val(strNumber);
        } else if ($("#imageEntranceLoginInput_3").attr("src") == ""){
            $("#imageEntranceLoginInput_3").attr("src", url);
            $(".imageEntranceLoginInput_3").val(strNumber);
        }
        else if ($("#imageEntranceLoginInput_4").attr("src") == ""){
           $("#imageEntranceLoginInput_4").attr("src", url);
           $(".imageEntranceLoginInput_4").val(strNumber);
       }
       else if ($("#imageEntranceLoginInput_5").attr("src") == ""){
          $("#imageEntranceLoginInput_5").attr("src", url);
          $(".imageEntranceLoginInput_5").val(strNumber);
      }
      else if ($("#imageEntranceLoginInput_6").attr("src") == ""){
         $("#imageEntranceLoginInput_6").attr("src", url);
         $(".imageEntranceLoginInput_6").val(strNumber);
     }
     else if ($("#imageEntranceLoginInput_7").attr("src") == ""){
        $("#imageEntranceLoginInput_7").attr("src", url);
        $(".imageEntranceLoginInput_7").val(strNumber);
    }
    });
  });

  url_7.getDownloadURL().then(function(url) {

    // Сделать функцию бы
    var str = url;
    var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
    var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

    $("#imageEntranceLogin_7").attr('src', url);

    $("#imageEntranceLogin_7").bind("click", function() {
      if($("#imageEntranceLoginInput_1").attr("src") == "") {
          $("#imageEntranceLoginInput_1").attr("src", url);
          $(".imageEntranceLoginInput_1").val(strNumber);
        } else if ($("#imageEntranceLoginInput_2").attr("src") == ""){
            $("#imageEntranceLoginInput_2").attr("src", url);
            $(".imageEntranceLoginInput_2").val(strNumber);
        } else if ($("#imageEntranceLoginInput_3").attr("src") == ""){
            $("#imageEntranceLoginInput_3").attr("src", url);
            $(".imageEntranceLoginInput_3").val(strNumber);
        }
        else if ($("#imageEntranceLoginInput_4").attr("src") == ""){
           $("#imageEntranceLoginInput_4").attr("src", url);
           $(".imageEntranceLoginInput_4").val(strNumber);
       }
       else if ($("#imageEntranceLoginInput_5").attr("src") == ""){
          $("#imageEntranceLoginInput_5").attr("src", url);
          $(".imageEntranceLoginInput_5").val(strNumber);
      }
      else if ($("#imageEntranceLoginInput_6").attr("src") == ""){
         $("#imageEntranceLoginInput_6").attr("src", url);
         $(".imageEntranceLoginInput_6").val(strNumber);
     }
     else if ($("#imageEntranceLoginInput_7").attr("src") == ""){
        $("#imageEntranceLoginInput_7").attr("src", url);
        $(".imageEntranceLoginInput_7").val(strNumber);
    }
    });
  });
  // Подгруз логина КОНЕЦ

  // Подгруз пароля НАЧАЛО
   url_1.getDownloadURL().then(function(url) {

     // Сделать функцию бы
     var str = url;
     var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
     var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

     $("#imageEntrancePassword_1").attr('src', url);

     $("#imageEntrancePassword_1").bind("click", function() {
       if($("#imageEntrancePasswordInput_1").attr("src") == "") {
           $("#imageEntrancePasswordInput_1").attr("src", url);
           $(".imageEntrancePasswordInput_1").val(strNumber);
           //console.log (imageEntranceLoginInput_1.src + " imageEntranceLoginInput_1");
           console.log (url + " url");
         } else if ($("#imageEntrancePasswordInput_2").attr("src") == ""){
             $("#imageEntrancePasswordInput_2").attr("src", url);
              $(".imageEntrancePasswordInput_2").val(strNumber);
         }
         else if ($("#imageEntrancePasswordInput_3").attr("src") == ""){
            $("#imageEntrancePasswordInput_3").attr("src", url);
              $(".imageEntrancePasswordInput_3").val(strNumber);
        }
        else if ($("#imageEntrancePasswordInput_4").attr("src") == ""){
           $("#imageEntrancePasswordInput_4").attr("src", url);
             $(".imageEntrancePasswordInput_4").val(strNumber);
       }
       else if ($("#imageEntrancePasswordInput_5").attr("src") == ""){
          $("#imageEntrancePasswordInput_5").attr("src", url);
            $(".imageEntrancePasswordInput_5").val(strNumber);
      }
      else if ($("#imageEntrancePasswordInput_6").attr("src") == ""){
         $("#imageEntrancePasswordInput_6").attr("src", url);
           $(".imageEntrancePasswordInput_6").val(strNumber);
     }
     else if ($("#imageEntrancePasswordInput_7").attr("src") == ""){
        $("#imageEntrancePasswordInput_7").attr("src", url);
          $(".imageEntrancePasswordInput_7").val(strNumber);
    }
     });
   });

   url_2.getDownloadURL().then(function(url) {

     // Сделать функцию бы
     var str = url;
     var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
     var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

     $("#imageEntrancePassword_2").attr('src', url);

     $("#imageEntrancePassword_2").bind("click", function() {
       if($("#imageEntrancePasswordInput_1").attr("src") == "") {
           $("#imageEntrancePasswordInput_1").attr("src", url);
           $(".imageEntrancePasswordInput_1").val(strNumber);
           //console.log (imageEntranceLoginInput_1.src + " imageEntranceLoginInput_1");
           console.log (url + " url");
         } else if ($("#imageEntrancePasswordInput_2").attr("src") == ""){
             $("#imageEntrancePasswordInput_2").attr("src", url);
              $(".imageEntrancePasswordInput_2").val(strNumber);
         }
         else if ($("#imageEntrancePasswordInput_3").attr("src") == ""){
            $("#imageEntrancePasswordInput_3").attr("src", url);
              $(".imageEntrancePasswordInput_3").val(strNumber);
        }
        else if ($("#imageEntrancePasswordInput_4").attr("src") == ""){
           $("#imageEntrancePasswordInput_4").attr("src", url);
             $(".imageEntrancePasswordInput_4").val(strNumber);
       }
       else if ($("#imageEntrancePasswordInput_5").attr("src") == ""){
          $("#imageEntrancePasswordInput_5").attr("src", url);
            $(".imageEntrancePasswordInput_5").val(strNumber);
      }
      else if ($("#imageEntrancePasswordInput_6").attr("src") == ""){
         $("#imageEntrancePasswordInput_6").attr("src", url);
           $(".imageEntrancePasswordInput_6").val(strNumber);
     }
     else if ($("#imageEntrancePasswordInput_7").attr("src") == ""){
        $("#imageEntrancePasswordInput_7").attr("src", url);
          $(".imageEntrancePasswordInput_7").val(strNumber);
    }
     });
   });

   url_3.getDownloadURL().then(function(url) {

     // Сделать функцию бы
     var str = url;
     var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
     var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

     $("#imageEntrancePassword_3").attr('src', url);

     $("#imageEntrancePassword_3").bind("click", function() {
       if($("#imageEntrancePasswordInput_1").attr("src") == "") {
           $("#imageEntrancePasswordInput_1").attr("src", url);
           $(".imageEntrancePasswordInput_1").val(strNumber);
           //console.log (imageEntranceLoginInput_1.src + " imageEntranceLoginInput_1");
           console.log (url + " url");
         } else if ($("#imageEntrancePasswordInput_2").attr("src") == ""){
             $("#imageEntrancePasswordInput_2").attr("src", url);
              $(".imageEntrancePasswordInput_2").val(strNumber);
         }
         else if ($("#imageEntrancePasswordInput_3").attr("src") == ""){
            $("#imageEntrancePasswordInput_3").attr("src", url);
              $(".imageEntrancePasswordInput_3").val(strNumber);
        }
        else if ($("#imageEntrancePasswordInput_4").attr("src") == ""){
           $("#imageEntrancePasswordInput_4").attr("src", url);
             $(".imageEntrancePasswordInput_4").val(strNumber);
       }
       else if ($("#imageEntrancePasswordInput_5").attr("src") == ""){
          $("#imageEntrancePasswordInput_5").attr("src", url);
            $(".imageEntrancePasswordInput_5").val(strNumber);
      }
      else if ($("#imageEntrancePasswordInput_6").attr("src") == ""){
         $("#imageEntrancePasswordInput_6").attr("src", url);
           $(".imageEntrancePasswordInput_6").val(strNumber);
     }
     else if ($("#imageEntrancePasswordInput_7").attr("src") == ""){
        $("#imageEntrancePasswordInput_7").attr("src", url);
          $(".imageEntrancePasswordInput_7").val(strNumber);
    }
     });
   });

   url_4.getDownloadURL().then(function(url) {

     // Сделать функцию бы
     var str = url;
     var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
     var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

     $("#imageEntrancePassword_4").attr('src', url);

     $("#imageEntrancePassword_4").bind("click", function() {
       if($("#imageEntrancePasswordInput_1").attr("src") == "") {
           $("#imageEntrancePasswordInput_1").attr("src", url);
           $(".imageEntrancePasswordInput_1").val(strNumber);
           //console.log (imageEntranceLoginInput_1.src + " imageEntranceLoginInput_1");
           console.log (url + " url");
         } else if ($("#imageEntrancePasswordInput_2").attr("src") == ""){
             $("#imageEntrancePasswordInput_2").attr("src", url);
              $(".imageEntrancePasswordInput_2").val(strNumber);
         }
         else if ($("#imageEntrancePasswordInput_3").attr("src") == ""){
            $("#imageEntrancePasswordInput_3").attr("src", url);
              $(".imageEntrancePasswordInput_3").val(strNumber);
        }
        else if ($("#imageEntrancePasswordInput_4").attr("src") == ""){
           $("#imageEntrancePasswordInput_4").attr("src", url);
             $(".imageEntrancePasswordInput_4").val(strNumber);
       }
       else if ($("#imageEntrancePasswordInput_5").attr("src") == ""){
          $("#imageEntrancePasswordInput_5").attr("src", url);
            $(".imageEntrancePasswordInput_5").val(strNumber);
      }
      else if ($("#imageEntrancePasswordInput_6").attr("src") == ""){
         $("#imageEntrancePasswordInput_6").attr("src", url);
           $(".imageEntrancePasswordInput_6").val(strNumber);
     }
     else if ($("#imageEntrancePasswordInput_7").attr("src") == ""){
        $("#imageEntrancePasswordInput_7").attr("src", url);
          $(".imageEntrancePasswordInput_7").val(strNumber);
    }
     });
   });

   url_5.getDownloadURL().then(function(url) {

     // Сделать функцию бы
     var str = url;
     var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
     var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

     $("#imageEntrancePassword_5").attr('src', url);

     $("#imageEntrancePassword_5").bind("click", function() {
       if($("#imageEntrancePasswordInput_1").attr("src") == "") {
           $("#imageEntrancePasswordInput_1").attr("src", url);
           $(".imageEntrancePasswordInput_1").val(strNumber);
           //console.log (imageEntranceLoginInput_1.src + " imageEntranceLoginInput_1");
           console.log (url + " url");
         } else if ($("#imageEntrancePasswordInput_2").attr("src") == ""){
             $("#imageEntrancePasswordInput_2").attr("src", url);
              $(".imageEntrancePasswordInput_2").val(strNumber);
         }
         else if ($("#imageEntrancePasswordInput_3").attr("src") == ""){
            $("#imageEntrancePasswordInput_3").attr("src", url);
              $(".imageEntrancePasswordInput_3").val(strNumber);
        }
        else if ($("#imageEntrancePasswordInput_4").attr("src") == ""){
           $("#imageEntrancePasswordInput_4").attr("src", url);
             $(".imageEntrancePasswordInput_4").val(strNumber);
       }
       else if ($("#imageEntrancePasswordInput_5").attr("src") == ""){
          $("#imageEntrancePasswordInput_5").attr("src", url);
            $(".imageEntrancePasswordInput_5").val(strNumber);
      }
      else if ($("#imageEntrancePasswordInput_6").attr("src") == ""){
         $("#imageEntrancePasswordInput_6").attr("src", url);
           $(".imageEntrancePasswordInput_6").val(strNumber);
     }
     else if ($("#imageEntrancePasswordInput_7").attr("src") == ""){
        $("#imageEntrancePasswordInput_7").attr("src", url);
          $(".imageEntrancePasswordInput_7").val(strNumber);
    }
     });
   });

   url_6.getDownloadURL().then(function(url) {

     // Сделать функцию бы
     var str = url;
     var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
     var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

     $("#imageEntrancePassword_6").attr('src', url);

     $("#imageEntrancePassword_6").bind("click", function() {
       if($("#imageEntrancePasswordInput_1").attr("src") == "") {
           $("#imageEntrancePasswordInput_1").attr("src", url);
           $(".imageEntrancePasswordInput_1").val(strNumber);
           //console.log (imageEntranceLoginInput_1.src + " imageEntranceLoginInput_1");
           console.log (url + " url");
         } else if ($("#imageEntrancePasswordInput_2").attr("src") == ""){
             $("#imageEntrancePasswordInput_2").attr("src", url);
              $(".imageEntrancePasswordInput_2").val(strNumber);
         }
         else if ($("#imageEntrancePasswordInput_3").attr("src") == ""){
            $("#imageEntrancePasswordInput_3").attr("src", url);
              $(".imageEntrancePasswordInput_3").val(strNumber);
        }
        else if ($("#imageEntrancePasswordInput_4").attr("src") == ""){
           $("#imageEntrancePasswordInput_4").attr("src", url);
             $(".imageEntrancePasswordInput_4").val(strNumber);
       }
       else if ($("#imageEntrancePasswordInput_5").attr("src") == ""){
          $("#imageEntrancePasswordInput_5").attr("src", url);
            $(".imageEntrancePasswordInput_5").val(strNumber);
      }
      else if ($("#imageEntrancePasswordInput_6").attr("src") == ""){
         $("#imageEntrancePasswordInput_6").attr("src", url);
           $(".imageEntrancePasswordInput_6").val(strNumber);
     }
     else if ($("#imageEntrancePasswordInput_7").attr("src") == ""){
        $("#imageEntrancePasswordInput_7").attr("src", url);
          $(".imageEntrancePasswordInput_7").val(strNumber);
    }
     });
   });

   url_7.getDownloadURL().then(function(url) {

     // Сделать функцию бы
     var str = url;
     var strNumberPng = str.split('?alt=media')[0]; // путь до 1.png
     var strNumber = str[strNumberPng.length - 5]; // саму цифру кладем в Бд

     $("#imageEntrancePassword_7").attr('src', url);

     $("#imageEntrancePassword_7").bind("click", function() {
       if($("#imageEntrancePasswordInput_1").attr("src") == "") {
           $("#imageEntrancePasswordInput_1").attr("src", url);
           $(".imageEntrancePasswordInput_1").val(strNumber);
           //console.log (imageEntranceLoginInput_1.src + " imageEntranceLoginInput_1");
           console.log (url + " url");
         } else if ($("#imageEntrancePasswordInput_2").attr("src") == ""){
             $("#imageEntrancePasswordInput_2").attr("src", url);
              $(".imageEntrancePasswordInput_2").val(strNumber);
         }
         else if ($("#imageEntrancePasswordInput_3").attr("src") == ""){
            $("#imageEntrancePasswordInput_3").attr("src", url);
              $(".imageEntrancePasswordInput_3").val(strNumber);
        }
        else if ($("#imageEntrancePasswordInput_4").attr("src") == ""){
           $("#imageEntrancePasswordInput_4").attr("src", url);
             $(".imageEntrancePasswordInput_4").val(strNumber);
       }
       else if ($("#imageEntrancePasswordInput_5").attr("src") == ""){
          $("#imageEntrancePasswordInput_5").attr("src", url);
            $(".imageEntrancePasswordInput_5").val(strNumber);
      }
      else if ($("#imageEntrancePasswordInput_6").attr("src") == ""){
         $("#imageEntrancePasswordInput_6").attr("src", url);
           $(".imageEntrancePasswordInput_6").val(strNumber);
     }
     else if ($("#imageEntrancePasswordInput_7").attr("src") == ""){
        $("#imageEntrancePasswordInput_7").attr("src", url);
          $(".imageEntrancePasswordInput_7").val(strNumber);
    }
     });
   });
  // Подгруз пароля КОНЕЦ


  // УДАЛЕНИЕ ПИКТОГРАФИЧЕСКИХ ДАННЫХ НАЧАЛО

  // Удаление поэлементно в логине
  //  $("#imageEntranceLoginInput_1").bind("click", function() {
  //        $("#imageEntranceLoginInput_1").attr("src", "");
  //  });
  //  $("#imageEntranceLoginInput_2").bind("click", function() {
  //        $("#imageEntranceLoginInput_2").attr("src", "");
  //  });
  //  $("#imageEntranceLoginInput_3").bind("click", function() {
  //        $("#imageEntranceLoginInput_3").attr("src", "");
  //  });
  //  $("#imageEntranceLoginInput_4").bind("click", function() {
  //        $("#imageEntranceLoginInput_4").attr("src", "");
  //  });
  //  $("#imageEntranceLoginInput_5").bind("click", function() {
  //        $("#imageEntranceLoginInput_5").attr("src", "");
  //  });
  //  $("#imageEntranceLoginInput_6").bind("click", function() {
  //        $("#imageEntranceLoginInput_6").attr("src", "");
  //  });
  //  $("#imageEntranceLoginInput_7").bind("click", function() {
  //        $("#imageEntranceLoginInput_7").attr("src", "");
  //  });

  // Удаление всех элементов в логине
   $("#delete_all_images_login").bind("click", function() {
      $("#imageEntranceLoginInput_1").attr("src", "");
      $("#imageEntranceLoginInput_2").attr("src", "");
      $("#imageEntranceLoginInput_3").attr("src", "");
      $("#imageEntranceLoginInput_4").attr("src", "");
      $("#imageEntranceLoginInput_5").attr("src", "");
      $("#imageEntranceLoginInput_6").attr("src", "");
      $("#imageEntranceLoginInput_7").attr("src", "");
   });


   // Удаление поэлементно в пароле
    // $("#imageEntrancePasswordInput_1").bind("click", function() {
    //       $("#imageEntrancePasswordInput_1").attr("src", "");
    // });
    // $("#imageEntrancePasswordInput_2").bind("click", function() {
    //       $("#imageEntrancePasswordInput_2").attr("src", "");
    // });
    // $("#imageEntrancePasswordInput_3").bind("click", function() {
    //       $("#imageEntrancePasswordInput_3").attr("src", "");
    // });
    // $("#imageEntrancePasswordInput_4").bind("click", function() {
    //       $("#imageEntrancePasswordInput_4").attr("src", "");
    // });
    // $("#imageEntrancePasswordInput_5").bind("click", function() {
    //       $("#imageEntrancePasswordInput_5").attr("src", "");
    // });
    // $("#imageEntrancePasswordInput_6").bind("click", function() {
    //       $("#imageEntrancePasswordInput_6").attr("src", "");
    // });
    // $("#imageEntrancePasswordInput_7").bind("click", function() {
    //       $("#imageEntrancePasswordInput_7").attr("src", "");
    // });

   // Удаление всех элементов в пароле
    $("#delete_all_images_password").bind("click", function() {
       $("#imageEntrancePasswordInput_1").attr("src", "");
       $("#imageEntrancePasswordInput_2").attr("src", "");
       $("#imageEntrancePasswordInput_3").attr("src", "");
       $("#imageEntrancePasswordInput_4").attr("src", "");
       $("#imageEntrancePasswordInput_5").attr("src", "");
       $("#imageEntrancePasswordInput_6").attr("src", "");
       $("#imageEntrancePasswordInput_7").attr("src", "");
    });

  // УДАЛЕНИЕ ПИКТОГРАФИЧЕСКИХ ДАННЫХ КОНЕЦ

</script>



<script>
// Клиентский код //
// Человек вводит логин, email,
$(document.forms['cabinet_updateStudent']).on('submit', function() {
var form = $(this);
$('.error', form).html('');
$(":submit", form).button("loading");
// Этот логин, email, пароль отправляются на сервер
$.ajax({
  url: "/result_test/id<%=id%>", // роут: require('./registration').post
  method: "POST",
  data: form.serialize(),
  complete: function() {
    $(":submit", form).button("reset");
  },
  statusCode: {
    // если ответ сервера 200 - перенаправляем человека в личный кабинет(успешно создали нового пользователя)
    200: function() {
    location.reload();
    },
    // если 403 - высвечивается ошибка(уже есть такой пользователь)
    403: function(jqXHR) {
      var error = JSON.parse(jqXHR.responseText);
      $('.error', form).html(error.message);
    }
  }
});  //window.location.href = "/";
return false;

});
</script>

<script>
// Клиентский код //
// Человек вводит логин, email,
$(document.forms['cabinet_deleteStudent']).on('submit', function() {
var form = $(this);
$('.error', form).html('');
$(":submit", form).button("loading");
// Этот логин, email, пароль отправляются на сервер
$.ajax({
  url: "/deleteStudent/id<%=id%>", // роут: require('./registration').post
  method: "POST",
  data: form.serialize(),
  complete: function() {
    $(":submit", form).button("reset");
  }
  // ,
  // statusCode: {
  //   // если ответ сервера 200 - перенаправляем человека в личный кабинет(успешно создали нового пользователя)
  //   200: function() {
  //     form.html("Вы успешно зарегестрировались").addClass('alert-success');
  //     window.location.href = "/personalArea";
  //   }
  //,
  //   // если 403 - высвечивается ошибка(уже есть такой пользователь)
  //   403: function(jqXHR) {
  //     var error = JSON.parse(jqXHR.responseText);
  //     $('.error', form).html(error.message);
  //   }
  // }
});  //window.location.href = "/";
//return false;
window.location.href = "/personalArea";
return false;
location.reload();
});
</script>
