<link rel="stylesheet" href="/css/styleResultSettings.css">
<% layout('layout/page') -%>
<% block('title') -%>

<!-- LEFT START -->
    <div class="main-and-sidebar-wrapper-left">
      <form class="form_testSetting" name="testSetting">
        <section class="main-left">

        <h2>Settings</h2>

<div class="checkbox">
  <label><input type="checkbox" name="checkText" value="<%=checkText%>" id="checkText" disabled><label class="text"> Text</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="checkSound" value="<%=checkSound%>" id="checkSound" disabled><label class="sound"> Sound</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="checkSwap" value="<%=checkSwap%>" id="checkSwap" disabled><label class="swap"> Swap</label></label>
</div>
<div class="checkbox checkSwapFinger">
  <label id="checkSwapFingerText"><input type="checkbox" name="checkSwapFinger" value="<%=checkSwapFinger%>" id="checkSwapFinger" disabled><label class="finger"> Finger</label></label>
</div>
<div class="checkbox checkSwapArrows">
  <label id="checkSwapArrowsText"><input type="checkbox" name="checkSwapArrows" value="<%=checkSwapArrows%>" id="checkSwapArrows" disabled><label class="arrows"> Arrows</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="checkProgressBar" value="<%=checkProgressBar%>" id="checkProgressBar" disabled><label class="progressBar"> Progress bar</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="checkBtnResult" value="<%=checkBtnResult%>"  id="checkBtnResult" disabled><label class="btnResult"> Btn Results</label></label>
</div>
<br>
<div class="styleImages">

<h5><b><div class="styleImagesSwap">Style Images: Swap arrows</div></b></h5>
<input type="range" class="inputStyleImageSwap" name="styleImagesSwap" value="<%=styleImagesSwap%>" min="0" max="1" id="styleImagesSwap" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImagesLikeDislike">Style Images: Like/Dislike</div></b></h5>
<input type="range"class="inputStyleImagesLikeDislike"  name="styleImagesLikeDislike" value="<%=styleImagesLikeDislike%>" min="0" max="1" id="styleImagesLikeDislike" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageStopTest">Style Image: STOP TEST</div></b></h5>
<input type="range" class="inputStyleImagesStopTest" name="styleImageStopTest" value="<%=styleImageStopTest%>" min="0" max="1" id="styleImageStopTest" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageResults">Style Image: Results</div></b></h5>
  <input type="range" class="inputStyleImageResults" value="<%=styleImageResults%>" min="0" max="1" id="styleImagesResults" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageFinish">Style Image: Finish</div></b></h5>
<input type="range" class="inputStyleImageFinish" value="<%=styleImageFinish%>" min="0" max="1" id="styleImageFinish" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

  <h6>Language</h6>
<SELECT name="Language" type="text" class="select-language" id="input-Language" disabled>
  <OPTION>English</OPTION>
  <OPTION>Russian</OPTION>
</SELECT>

<!-- <button type="submit" class="update-test-settings" id="updateTestSettings" data-loading-text="Accepting...">Accept</button> -->

</div>

    </form>
        </section>
    </div>
  <!-- LEFT END -->

<!-- CENTER START -->
    <div class="main-and-sidebar-wrapper">
        <section class="main">

            <div class="main-left-part">
              <img src="" class="img-responsive notConstantly" id="imageBack">
              <img src="" class="img-responsive constantly" id="imageLike">
            </div>

            <div class="main-center-part">
              <h3 class="notConstantly" id="textCategory">Category</h3>
              <div class="five_images_first_row">
              <img src="/imagesDefault/1234.png" class="img-responsive constantly" id="firstCategory">
              <img src="/imagesDefault/1234.png" class="img-responsive constantly" id="SecondCategory">
              <img src="/imagesDefault/1234.png" class="img-responsive constantly" id="ThirdCategory">
              </div>
              <div class="five_images_secong_row">
              <img src="/imagesDefault/1234.png" class="img-responsive constantly" id="Fourthategory">
              <img src="/imagesDefault/1234.png" class="img-responsive constantly" id="FifthCategory">
              </div>
            </div>

            <div class="main-right-part">
              <img src="" class="img-responsive stopTest" id="imageStopTest">
              <img src="" class="img-responsive notConstantly" id="imageNext">
              <img src="" class="img-responsive constantly" id="imageDislike">
            </div>



          <div class="pagination">
            <a href="<%=linkTestSettings%>">Test</a>
            <a href="<%=linkUserTrainingSettings%>">User training</a>
            <a href="<%=linkPreResultSettings%>">Pre-result</a>
            <a class="active">Result</a>
            <a href="<%=linkFinishSettings%>">Finish</a>
          </div>

        </section>
  </div>
<!-- CENTER END -->

  <!-- RIGHT START -->
    <div class="main-and-sidebar-wrapper-right">
        <section class="main-right">

        </section>
    </div>
  <!-- RIGHT END -->

    <!-- <footer>
        <h3>Footer</h3>
        <p>Something.</p>
    </footer> -->


<script>

// Проверка наличия текста
document.getElementById('checkText').onclick = function() {
    if ( this.checked ) {
  $("#textCategory").css("opacity","1");
    } else {
       $("#textCategory").css("opacity","0");
    }
};

  if (document.getElementById('checkText').value == "false") {
    $("#textCategory").css("opacity","0");
  }

  // Проверка наличия свапа на стрелках
  document.getElementById('checkSwap').onclick = function() {
      if ( this.checked ) {
        $("#checkSwapFinger").css("opacity","1");
        $( "#checkSwapFinger" ).prop( "disabled", false );
        $("#checkSwapFingerText").css("opacity","1");
        $( "#checkSwapArrows" ).prop( "disabled", false );
        $("#checkSwapArrows").css("opacity","1");
        $("#checkSwapArrowsText").css("opacity","1");

        $('#checkSwapFinger').prop('checked', true);
        $('#checkSwapArrows').prop('checked', true);

        $("#imageBack").css("opacity","1");
        $("#imageNext").css("opacity","1");
        $("#styleImagesSwap").css("opacity","1");
        document.getElementById("styleImagesSwap").disabled = false;
        $(".styleImagesSwap").css("opacity","1");

      } else {
        $("#checkSwapFinger").css("opacity","0.5");
        $( "#checkSwapFinger" ).prop( "disabled", true );
        $("#checkSwapFinger").removeAttr("checked"); // снимает галочку

        $("#checkSwapArrows").css("opacity","0.5");
        $( "#checkSwapArrows" ).prop( "disabled", true );
        $("#checkSwapArrows").removeAttr("checked"); // снимает галочку

        $("#checkSwapFingerText").css("opacity","0.5");
        $("#checkSwapArrowsText").css("opacity","0.5");

        $("#imageBack").css("opacity","0");
        $("#imageNext").css("opacity","0");

        $("#styleImagesSwap").css("opacity","0.5");
       document.getElementById("styleImagesSwap").disabled = true;
       $(".styleImagesSwap").css("opacity","0.5");

      }
  };

  document.getElementById('checkSwapArrows').onclick = function() {
      if ( this.checked ) {
    $("#imageBack").css("opacity","1");
    $("#imageNext").css("opacity","1");
    $("#styleImagesSwap").css("opacity","1");
    document.getElementById("styleImagesSwap").disabled = false;
    $(".styleImagesSwap").css("opacity","1");
      } else {
         $("#imageBack").css("opacity","0");
         $("#imageNext").css("opacity","0");
         $("#styleImagesSwap").css("opacity","0.5");
         $(".styleImagesSwap").css("opacity","0.5");
        document.getElementById("styleImagesSwap").disabled = true;
      }
  };

  if (document.getElementById('checkSwapArrows').value == "false") {
    $("#imageBack").css("opacity","0");
    $("#imageNext").css("opacity","0");
  }

  // Проверка наличия прогресс-бара
  document.getElementById('checkProgressBar').onclick = function() {
      if ( this.checked ) {
    $("#progressBar").css("opacity","1");
      } else {
         $("#progressBar").css("opacity","0");
      }
  };

  if (document.getElementById('checkProgressBar').value == "false") {
    $("#progressBar").css("opacity","0");
  }



// Имитация клика на элемент
setTimeout(function(){
  $('#styleImagesStopTest').trigger('click');
}, 0);
document.getElementById('styleImagesStopTest').onclick = function() {
var styleImagesStopTest = $("#styleImagesStopTest").val();
switch (styleImagesStopTest) {
    case "1":
      $("#styleStopTest_1").css("display","block");
      $("#styleStopTest_2").css("display","none");
      break;
    case "2":
    $("#styleStopTest_1").css("display","none");
    $("#styleStopTest_2").css("display","block");
      break;
  }

};
</script>

<script>
// Отрисовка галочки от значения из БД
if (document.getElementById('checkText').value == "true") {
      $('#checkText').prop('checked', true);
    }
if (document.getElementById('checkSound').value == "true") {
    $('#checkSound').prop('checked', true);
  }
if (document.getElementById('checkSwap').value == "true") {
    $('#checkSwap').prop('checked', true);
  }
if (document.getElementById('checkSwapFinger').value == "true") {
    $('#checkSwapFinger').prop('checked', true);
  }
if (document.getElementById('checkSwapArrows').value == "true") {
    $('#checkSwapArrows').prop('checked', true);
  }
if (document.getElementById('checkProgressBar').value == "true") {
    $('#checkProgressBar').prop('checked', true);
  }
if (document.getElementById('checkBtnResult').value == "true") {
    $('#checkBtnResult').prop('checked', true);
  }
</script>

<script src="/js/countImagesRange.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDivSiqkv7QoDAe8qiY1QevU5N4vQ7aHZw",
    authDomain: "profpref-c5ce0.firebaseapp.com",
    databaseURL: "https://profpref-c5ce0.firebaseio.com",
    projectId: "profpref-c5ce0",
    storageBucket: "profpref-c5ce0.appspot.com",
    messagingSenderId: "664101035809"
  };
  firebase.initializeApp(config);

  // Получаем доступ к Хранилищу
  var storage = firebase.app().storage("profpref-c5ce0.appspot.com");

      // Стиль назад и вперед
      $("#styleImagesSwap").on("input change", function() {
        var styleImagesSwap = $("#styleImagesSwap").val();

        var urlBack = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"back.png");
        var urlNext = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"next.png");

        urlBack.getDownloadURL().then(function(url) {
          console.log(url);
          $("#imageBack").attr('src', url);
        });
        urlNext.getDownloadURL().then(function(url) {
          console.log(url);
          $("#imageNext").attr('src', url);
        });
       });

  // Стиль лайка и дизлайка
  $("#styleImagesLikeDislike").on("input change", function() {
    var styleImagesLikeDislike = $("#styleImagesLikeDislike").val();
    var urlLike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"like.png");
    var urlDislike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"dislike.png");

    urlLike.getDownloadURL().then(function(url) {
      console.log(url);
      $("#imageLike").attr('src', url);
    });
    urlDislike.getDownloadURL().then(function(url) {
      console.log(url);
      $("#imageDislike").attr('src', url);
    });
   });

   // Стиль стоп теста
   $("#styleImageStopTest").on("input change", function() {
     var styleImageStopTest = $("#styleImageStopTest").val();
     var urlStopTest = storage.ref("/manager_buttons/stop_test/" + styleImageStopTest + "/" +"stop.png");

     urlStopTest.getDownloadURL().then(function(url) {
       console.log(url);
       $("#imageStopTest").attr('src', url);
     });
    });


   /////////////////////////////////////////////////////////////////////////////////////////////
   var styleImagesSwap = $("#styleImagesSwap").val();
   var urlBack = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"back.png");
   var urlNext = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"next.png");

   urlBack.getDownloadURL().then(function(url) {
     console.log(url);
     $("#imageBack").attr('src', url);
   });
   urlNext.getDownloadURL().then(function(url) {
     console.log(url);
     $("#imageNext").attr('src', url);
   });


   var styleImagesLikeDislike = $("#styleImagesLikeDislike").val();
   var urlLike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"like.png");
   var urlDislike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"dislike.png");

   urlLike.getDownloadURL().then(function(url) {
     console.log(url);
     $("#imageLike").attr('src', url);
  });
  urlDislike.getDownloadURL().then(function(url) {
    console.log(url);
    $("#imageDislike").attr('src', url);
  });
  //$("#styleImagesLikeDislike").attr('src', url);


  var styleImageStopTest = $("#styleImageStopTest").val();
  var urlStopTest = storage.ref("/manager_buttons/stop_test/" + styleImageStopTest + "/" +"stop.png");

  urlStopTest.getDownloadURL().then(function(url) {
    console.log(url);
    $("#imageStopTest").attr('src', url);
  });


</script>
