<link rel="stylesheet" href="/css/styleUserTrainingSettings.css">
<% layout('layout/page') -%>
<% block('title') -%>


<form class="form-testSetting">
<h3><b>Settings</b></h3>

<div class="checkbox">
  <label><input type="checkbox" value="<%=checkText%>" id="checkText" disabled><div class="text">Text</div></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkSound%>" id="checkSound" disabled><div class="sound">Sound</div></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkSwap%>" id="checkSwap" disabled><div class="swap">Swap</div></label>
</div>
<div class="checkbox checkSwapFinger">
  <label id="checkSwapFingerText"><input type="checkbox" value="<%=checkSwapFinger%>" id="checkSwapFinger" disabled><div class="finger">Finger</div></label>
</div>
<div class="checkbox checkSwapArrows">
  <label id="checkSwapArrowsText"><input type="checkbox" value="<%=checkSwapArrows%>" id="checkSwapArrows" disabled><div class="arrows">Arrows</div></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkProgressBar%>" id="checkProgressBar" disabled><div class="progressBar">Progress bar</div></label>
</div>
  <div class="checkbox">
    <label><input type="checkbox" value="<%=checkBtnResult%>" id="checkBtnResult" disabled><div class="btnResult">Btn Results</div></label>
  </div>

    <div class="styleImages">

  <h5><b><div class="styleImagesSwap">Style Images: Swap arrows</div></b></h5>
  <div class="inputStyleImageSwap">
  <input type="range" value="<%=styleImagesSwap%>" min="0" max="1" id="styleImagesSwap" disabled>
  </div>
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  <h5><b><div class="styleImageLikeDislike">Style Images: Like/Dislike</div></b></h5>
  <div class="inputStyleImagesLikeDislike">
  <input type="range" value="<%=styleImagesLikeDislike%>" min="0" max="1" id="styleImagesLikeDislike" disabled>
  </div>
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  <h5><b><div class="styleImageStopTest">Style Image: STOP TEST</div></b></h5>
  <div class="inputStyleImageStopTest">
  <input type="range" name="styleImageStopTest" value="<%=styleImageStopTest%>" min="0" max="1" id="styleImageStopTest" disabled>
  </div>
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  <h5><b><div class="styleImageResults">Style Image: Results</div></b></h5>
  <div class="inputStyleImageResults">
    <input type="range" value="1" min="1" max="5" id="styleImagesResults" disabled>
  </div>
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  <h5><b><div class="styleImageFinish">Style Image: Finish</div></b></h5>
  <div class="inputStyleImageFinish">
  <input type="range" value="1" min="1" max="5" id="styleImagesFinish" disabled>
  </div>
  <button type="submit" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button>

  </div>


    <br>
    <h5><b>Language</b></h5>
    <SELECT name="Language" type="text" class="form-control" id="input-Language" disabled>
      <OPTION>English</OPTION>
      <OPTION>Russian</OPTION>
    </SELECT>


  <br><br><br>
  <!-- КОСТЫЛЬ - ОТПРАВКА В ДРУГОЙ ФОРМЕ>
  <!-- <div class="form-group">
    <label class="btn-acceptSettings">
      <button type="submit" class="btn btn-primary" data-loading-text="Sending..." t>Accept settings</button>
      <span class="help-block error"></span>
      </label>
  </div> -->

</form>
  </div>

<form class="form-testImages" name="userTrainingSettings">
  <h1><b>AIT</b></h1>

<div class="ImageStopTest">
  <input type='text' name='inputTitleStopTest' class="inputTitleStopTest" value="<%=textTitleStopTest%>" id="titleStopTest" placeholder="Button stop test">
  <input type='text' name='inputTextStopTest' class="inputTextStopTest" value="<%=textStopTest%>" id="stopTest" placeholder="If you want to stop the test">
  <img src="" class="img-responsive stopTest" id="imageStopTest">
</div>

    <div class="wrapper">
    <div class="left">
      <input type='text' name='inputTitleTextBack' class="inputTitleBack" value="<%=textTitleBackQuestion%>" id="titleBackText" placeholder="Button back">
      <input type='text' name='inputTextBack' class="inputBack" value="<%=textBackQuestion%>" id="backQuestionText" placeholder="If you want to return to the previous question">
      <img src="" class="img-responsive notConstantly" id="imageBack">
      <input type='text' name='inputTitleTextLike' class="inputTitleLike" value="<%=textTitleLikeQuestion%>" id="titleLikeQuestionText" placeholder="Button like">
      <input type='text' name='inputTextLike' class="inputLike" value="<%=textLikeQuestion%>" id="likeQuestionText" placeholder="If you like to click here">
      <img src="" class="img-responsive constantly" id="imageLike">
    </div>

    <div class="center">
      <h3 class="notConstantly" id="textQuestion">Text question</h3>
      <img src="/imagesDefault/1234.png" class="img-responsive constantly">
    </div>

    <div class="right">
      <input type='text' name='inputTitleTextNext' class="inputTitleNext" value="<%=textTitleNextQuestion%>" id="titleNextText" placeholder="Button next">
      <input type='text' name='inputTextNext' class="inputNext" value="<%=textNextQuestion%>" id="nextQuestionText" placeholder="If you want to go to the text question">
      <img src="" class="img-responsive notConstantly" id="imageNext">
      <input type='text' name='inputTitleTextDislike' class="inputTitleDislike" value="<%=textTitleDislikeQuestion%>" id="titleDislikeQuestionText" placeholder="Button dislike">
      <input type='text' name='inputTextDislike' class="inputDislike" value="<%=textDislikeQuestion%>" id="dislikeQuestionText" placeholder="If you don't like to click here">
      <img src="" class="img-responsive constantly" id="imageDislike">
    </div>

</div>
    <br><br>
    <div class="progress" id="progressBar">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        40%
      </div>
    </div>

<ul class="pagination">
  <li><span><a href="<%=linkTestSettings%>">Test</a></span></li>
  <li class="active"><a>User training</a></li>
  <li><a href="<%=linkPreResultSettings%>">Pre-result</a></li>
  <li><a href="<%=linkResultSettings%>">Result</a></li>
  <li><a href="<%=linkFinishSettings%>">Finish</a></li>
</ul>

<div class="form-group">
  <label class="btn-acceptSettings">
    <button type="submit" class="btn btn-primary" data-loading-text="Sending...">Accept settings</button>
    <span class="help-block error"></span>
    </label>
</div>
</form>

<script>

// Проверка наличия текста
document.getElementById('checkText').onclick = function() {
    if ( this.checked ) {
  $("#textQuestion").css("opacity","1");
    } else {
       $("#textQuestion").css("opacity","0");
    }
};

  if (document.getElementById('checkText').value == "false") {
    $("#titleStopTest").css("opacity","0");
    $("#stopTest").css("opacity","0");
    $("#textQuestion").css("opacity","0");
    $("#titleLikeQuestionText").css("opacity","0");
    $("#likeQuestionText").css("opacity","0");
    $("#titleDislikeQuestionText").css("opacity","0");
    $("#dislikeQuestionText").css("opacity","0");
  }

  if (document.getElementById('checkText').value == "false" || document.getElementById('checkSwapArrows').value == "false") {
    $("#titleBackText").css("opacity","0");
    $("#backQuestionText").css("opacity","0");
    $("#titleNextText").css("opacity","0");
    $("#nextQuestionText").css("opacity","0");
  }


  // Проверка наличия свапа на стрелках
  document.getElementById('checkSwap').onclick = function() {
      if ( this.checked ) {
        $("#checkSwapFinger").css("opacity","1");
        $( "#checkSwapFinger" ).prop( "disabled", false );
        $("#checkSwapFingerText").css("opacity","1");
        $( "#checkSwapArrows" ).prop( "disabled", false );
        $("#checkSwapArrows").css("opacity","1");
        $("#checkSwapArrowsText").css("opacity","1");

        $('#checkSwapFinger').prop('checked', true);
        $('#checkSwapArrows').prop('checked', true);

        $("#imageBack").css("opacity","1");
        $("#imageNext").css("opacity","1");
        $("#styleImagesSwap").css("opacity","1");
        document.getElementById("styleImagesSwap").disabled = false;
        $(".styleImagesSwap").css("opacity","1");

      } else {
        $("#checkSwapFinger").css("opacity","0.5");
        $( "#checkSwapFinger" ).prop( "disabled", true );
        $("#checkSwapFinger").removeAttr("checked"); // снимает галочку

        $("#checkSwapArrows").css("opacity","0.5");
        $( "#checkSwapArrows" ).prop( "disabled", true );
        $("#checkSwapArrows").removeAttr("checked"); // снимает галочку

        $("#checkSwapFingerText").css("opacity","0.5");
        $("#checkSwapArrowsText").css("opacity","0.5");

        $("#imageBack").css("opacity","0");
        $("#imageNext").css("opacity","0");

        $("#styleImagesSwap").css("opacity","0.5");
       document.getElementById("styleImagesSwap").disabled = true;
       $(".styleImagesSwap").css("opacity","0.5");

      }
  };

  document.getElementById('checkSwapArrows').onclick = function() {
      if ( this.checked ) {
    $("#imageBack").css("opacity","1");
    $("#imageNext").css("opacity","1");
    $("#styleImagesSwap").css("opacity","1");
    document.getElementById("styleImagesSwap").disabled = false;
    $(".styleImagesSwap").css("opacity","1");
      } else {
         $("#imageBack").css("opacity","0");
         $("#imageNext").css("opacity","0");
         $("#styleImagesSwap").css("opacity","0.5");
         $(".styleImagesSwap").css("opacity","0.5");
        document.getElementById("styleImagesSwap").disabled = true;
      }
  };

  if (document.getElementById('checkSwapArrows').value == "false") {
    $("#imageBack").css("opacity","0");
    $("#imageNext").css("opacity","0");
  }

  // Проверка наличия прогресс-бара
  document.getElementById('checkProgressBar').onclick = function() {
      if ( this.checked ) {
    $("#progressBar").css("opacity","1");
      } else {
         $("#progressBar").css("opacity","0");
      }
  };

  if (document.getElementById('checkProgressBar').value == "false") {
    $("#progressBar").css("opacity","0");
  }

</script>


<script>
// Отрисовка галочки от значения из БД
if (document.getElementById('checkText').value == "true") {
      $('#checkText').prop('checked', true);
    }
if (document.getElementById('checkSound').value == "true") {
    $('#checkSound').prop('checked', true);
  }
if (document.getElementById('checkSwap').value == "true") {
    $('#checkSwap').prop('checked', true);
  }
if (document.getElementById('checkSwapFinger').value == "true") {
    $('#checkSwapFinger').prop('checked', true);
  }
if (document.getElementById('checkSwapArrows').value == "true") {
    $('#checkSwapArrows').prop('checked', true);
  }
if (document.getElementById('checkProgressBar').value == "true") {
    $('#checkProgressBar').prop('checked', true);
  }
if (document.getElementById('checkBtnResult').value == "true") {
    $('#checkBtnResult').prop('checked', true);
  }
</script>

<script>
// Клиентский код //
// name="testSetting" !!!
  $(document.forms['userTrainingSettings']).on('submit', function() {
    var form = $(this);

    $('.error', form).html('');
    $(":submit", form).button("loading");

    // Этот логин, пароль отправляется на сервер
    $.ajax({
      url: "/updateUserTrainingSettings/id<%=id%>", // роут: require('./login').post
      method: "POST",
      data: form.serialize(),
      complete: function() {
        $(":submit", form).button("reset");
      },
      statusCode: {
        // если ответ сервера 200 - перенаправляем человека в личный кабинет
        200: function() {
          location.reload();
        },
        // если 403 - высвечивается ошибка
        403: function(jqXHR) {
          var error = JSON.parse(jqXHR.responseText);
          $('.error', form).html(error.message);
        }
      }
    });
  return false;
  });
</script>


<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDivSiqkv7QoDAe8qiY1QevU5N4vQ7aHZw",
    authDomain: "profpref-c5ce0.firebaseapp.com",
    databaseURL: "https://profpref-c5ce0.firebaseio.com",
    projectId: "profpref-c5ce0",
    storageBucket: "profpref-c5ce0.appspot.com",
    messagingSenderId: "664101035809"
  };
  firebase.initializeApp(config);

  // Получаем доступ к Хранилищу
  var storage = firebase.app().storage("profpref-c5ce0.appspot.com");

      // Стиль назад и вперед
      $("#styleImagesSwap").on("input change", function() {
        var styleImagesSwap = $("#styleImagesSwap").val();

        var urlBack = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"back.png");
        var urlNext = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"next.png");

        urlBack.getDownloadURL().then(function(url) {
          console.log(url);
          $("#imageBack").attr('src', url);
        });
        urlNext.getDownloadURL().then(function(url) {
          console.log(url);
          $("#imageNext").attr('src', url);
        });
       });

  // Стиль лайка и дизлайка
  $("#styleImagesLikeDislike").on("input change", function() {
    var styleImagesLikeDislike = $("#styleImagesLikeDislike").val();
    var urlLike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"like.png");
    var urlDislike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"dislike.png");

    urlLike.getDownloadURL().then(function(url) {
      console.log(url);
      $("#imageLike").attr('src', url);
    });
    urlDislike.getDownloadURL().then(function(url) {
      console.log(url);
      $("#imageDislike").attr('src', url);
    });
   });

   // Стиль стоп теста
   $("#styleImageStopTest").on("input change", function() {
     var styleImageStopTest = $("#styleImageStopTest").val();
     var urlStopTest = storage.ref("/manager_buttons/stop_test/" + styleImageStopTest + "/" +"stop.png");

     urlStopTest.getDownloadURL().then(function(url) {
       console.log(url);
       $("#imageStopTest").attr('src', url);
     });
    });


   /////////////////////////////////////////////////////////////////////////////////////////////
   var styleImagesSwap = $("#styleImagesSwap").val();
   var urlBack = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"back.png");
   var urlNext = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"next.png");

   urlBack.getDownloadURL().then(function(url) {
     console.log(url);
     $("#imageBack").attr('src', url);
   });
   urlNext.getDownloadURL().then(function(url) {
     console.log(url);
     $("#imageNext").attr('src', url);
   });


   var styleImagesLikeDislike = $("#styleImagesLikeDislike").val();
   var urlLike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"like.png");
   var urlDislike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"dislike.png");

   urlLike.getDownloadURL().then(function(url) {
     console.log(url);
     $("#imageLike").attr('src', url);
  });
  urlDislike.getDownloadURL().then(function(url) {
    console.log(url);
    $("#imageDislike").attr('src', url);
  });
  //$("#styleImagesLikeDislike").attr('src', url);


  var styleImageStopTest = $("#styleImageStopTest").val();
  var urlStopTest = storage.ref("/manager_buttons/stop_test/" + styleImageStopTest + "/" +"stop.png");

  urlStopTest.getDownloadURL().then(function(url) {
    console.log(url);
    $("#imageStopTest").attr('src', url);
  });


</script>
