<link rel="stylesheet" href="/css/styleUserTrainingSettings.css">
<% layout('layout/page') -%>
<% block('title') -%>

<!-- LEFT START -->
    <div class="main-and-sidebar-wrapper-left">
      <form class="form-testImages" name="userTrainingSettings">
        <section class="main-left">

        <h2>Settings</h2>

<div class="checkbox">
  <label><input type="checkbox" value="<%=checkText%>" id="checkText" disabled><label class="text"> Text</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkSound%>" id="checkSound" disabled><label class="sound"> Sound</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkSwap%>" id="checkSwap" disabled><label class="swap"> Swap</label></label>
</div>
<div class="checkbox checkSwapFinger">
  <label id="checkSwapFingerText"><input type="checkbox" value="<%=checkSwapFinger%>" id="checkSwapFinger" disabled><label class="finger"> Finger</label></label>
</div>
<div class="checkbox checkSwapArrows">
  <label id="checkSwapArrowsText"><input type="checkbox" value="<%=checkSwapArrows%>" id="checkSwapArrows" disabled><label class="arrows"> Arrows</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkProgressBar%>" id="checkProgressBar" disabled><label class="progressBar"> Progress bar</label></label>
</div>
<div class="checkbox">
  <label><input type="checkbox" value="<%=checkBtnResult%>" id="checkBtnResult" disabled><label class="btnResult"> Btn Results</label></label>
</div>
<br>

<div class="styleImages">

<h5><b><div class="styleImagesSwap">Style Images: Swap arrows</div></b></h5>
<input type="range" name="styleImagesSwap" class="inputStyleImageSwap" value="<%=styleImagesSwap%>" min="0" max="1" id="styleImagesSwap" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageLikeDislike">Style Images: Like/Dislike</div></b></h5>
<input type="range" name="styleImagesLikeDislike" class="inputStyleImagesLikeDislike" value="<%=styleImagesLikeDislike%>" min="0" max="1" id="styleImagesLikeDislike" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageStopTest">Style Image: STOP TEST</div></b></h5>
<input type="range" name="styleImageStopTest" class="styleImageStopTest" value="<%=styleImageStopTest%>" min="0" max="1" id="styleImageStopTest" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageResults">Style Image: Results</div></b></h5>
  <input type="range" class="styleImageResults" value="<%=styleImageResults%>" min="0" max="1" id="styleImagesResults" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

<h5><b><div class="styleImageFinish">Style Image: Finish</div></b></h5>
<input type="range" class="styleImageFinish" value="<%=styleImageFinish%>" min="0" max="1" id="styleImageFinish" disabled>
<!-- <button type="button" class="btn btn-primary settings" data-loading-text="Adding..." disabled>Add</button> -->

  <h6>Language</h6>
<SELECT name="Language" type="text" class="select-language" id="input-Language" disabled>
  <OPTION>English</OPTION>
  <OPTION>Russian</OPTION>
</SELECT>

<!-- <button type="submit" class="update-test-settings" id="updateTestSettings" data-loading-text="Accepting...">Accept</button> -->

</div>


        </section>
    </div>
  <!-- LEFT END -->

<!-- CENTER START -->
    <div class="main-and-sidebar-wrapper">
        <section class="main">


            <div class="main-left-part">
              <input type='text' name='inputTitleTextBack' class="input-training-data inputTitleBack checkbox_range" value="<%=textTitleBackQuestion%>" id="titleBackText" placeholder="Button back">
              <input type='text' name='inputTextBack' class="input-training-data inputBack  checkbox_range" value="<%=textBackQuestion%>" id="backQuestionText" placeholder="If you want to return to the previous question">
              <img src="" class="img-responsive notConstantly" id="imageBack">
              <input type='text' name='inputTitleTextLike' class="input-training-data inputTitleLike  checkbox_range" value="<%=textTitleLikeQuestion%>" id="titleLikeQuestionText" placeholder="Button like">
              <input type='text' name='inputTextLike' class="input-training-data inputLike  checkbox_range" value="<%=textLikeQuestion%>" id="likeQuestionText" placeholder="If you like to click here">
              <img src="" class="img-responsive constantly" id="imageLike">
            </div>

            <div class="main-center-part">
              <h3 class="notConstantly" id="textQuestion">Text question</h3>
              <img src="/imagesDefault/1234.png" class="img-responsive constantly">
            </div>

            <div class="main-right-part">
              <input type='text' name='inputTitleStopTest' class="input-training-data inputTitleStopTest checkbox_range" value="<%=textTitleStopTest%>" id="titleStopTest" placeholder="Button stop test">
              <input type='text' name='inputTextStopTest' class="input-training-data inputTextStopTest checkbox_range" value="<%=textStopTest%>" id="stopTest" placeholder="If you want to stop the test">
              <img src="" class="img-responsive stopTest" id="imageStopTest">
              <input type='text' name='inputTitleTextNext' class="input-training-data inputTitleNext checkbox_range" value="<%=textTitleNextQuestion%>" id="titleNextText" placeholder="Button next">
              <input type='text' name='inputTextNext' class="input-training-data inputNext checkbox_range" value="<%=textNextQuestion%>" id="nextQuestionText" placeholder="If you want to go to the text question">
              <img src="" class="img-responsive notConstantly" id="imageNext">
              <input type='text' name='inputTitleTextDislike' class="input-training-data inputTitleDislike checkbox_range" value="<%=textTitleDislikeQuestion%>" id="titleDislikeQuestionText" placeholder="Button dislike">
              <input type='text' name='inputTextDislike' class="input-training-data inputDislike checkbox_range" value="<%=textDislikeQuestion%>" id="dislikeQuestionText" placeholder="If you don't like to click here">
              <img src="" class="img-responsive constantly" id="imageDislike">
            </div>

            <div class="progress-bar" role="progressbar" id="progressBar"aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
            40%
          </div>

          <div class="pagination">
            <a href="<%=linkTestSettings%>">Test</a>
            <a class="active">User training</a>
            <a href="<%=linkPreResultSettings%>">Pre-result</a>
            <a href="<%=linkResultSettings%>">Result</a>
            <a href="<%=linkFinishSettings%>">Finish</a>
          </div>

        </section>
  </div>
<!-- CENTER END -->

  <!-- RIGHT START -->
    <div class="main-and-sidebar-wrapper-right">
        <section class="main-right">

        </section>
        </form>
    </div>
  <!-- RIGHT END -->

    <!-- <footer>
        <h3>Footer</h3>
        <p>Something.</p>
    </footer> -->


    <script src="/socket.io/socket.io.js"></script>

        <script>
    // Обновление настроек теста на СОКЕТАХ
          var socket = io.connect();
          var id = "<%=id%>";

          var modifiedElement = document.querySelectorAll('.checkbox_range')

          for(var i=0; i < modifiedElement.length; i++){
              modifiedElement[i].addEventListener('change', ev => {

                // Текстовые инструкции
                let titleTextBtnBack = $("#titleBackText").val();
                let backQuestionText = $("#backQuestionText").val();
                let titleLikeQuestionText = $("#titleLikeQuestionText").val();
                let likeQuestionText = $("#likeQuestionText").val();
                let titleStopTest = $("#titleStopTest").val();
                let stopTest = $("#stopTest").val();
                let titleNextText = $("#titleNextText").val();
                let nextQuestionText = $("#nextQuestionText").val();
                let titleDislikeQuestionText = $("#titleDislikeQuestionText").val();
                let dislikeQuestionText = $("#dislikeQuestionText").val();

                socket.emit('message_user_training', {
                   title_text_btn_back: String (titleTextBtnBack),
                   description_text_btn_back: String (backQuestionText),
                   title_text_btn_like: String (titleLikeQuestionText),
                   description_text_btn_like: String (likeQuestionText),
                   title_text_btn_stop: String (titleStopTest),
                   description_text_btn_stop: String (stopTest),
                   title_text_btn_next: String (titleNextText),
                   description_text_btn_next: String (nextQuestionText),
                   title_text_btn_dislike: String (titleDislikeQuestionText),
                   description_text_btn_dislike: String (dislikeQuestionText),
                    userID: id });


                  // МАГИЯ - без этого со 2 раза срабатывает только
                  console.log (socket.emit('message_user_training', {
                    title_text_btn_back: String (titleTextBtnBack),
                    description_text_btn_back: String (backQuestionText),
                    title_text_btn_like: String (titleLikeQuestionText),
                    description_text_btn_like: String (likeQuestionText),
                    title_text_btn_stop: String (titleStopTest),
                    description_text_btn_stop: String (stopTest),
                    title_text_btn_next: String (titleNextText),
                    description_text_btn_next: String (nextQuestionText),
                    title_text_btn_dislike: String (titleDislikeQuestionText),
                    description_text_btn_dislike: String (dislikeQuestionText),
                     userID: id }) + " socket");
            })
          }
        </script>


<script>

// Проверка наличия текста
document.getElementById('checkText').onclick = function() {
    if ( this.checked ) {
  $("#textQuestion").css("opacity","1");
    } else {
       $("#textQuestion").css("opacity","0");
    }
};

  if (document.getElementById('checkText').value == "false") {
    $("#titleStopTest").css("opacity","0");
    $("#stopTest").css("opacity","0");
    $("#textQuestion").css("opacity","0");
    $("#titleLikeQuestionText").css("opacity","0");
    $("#likeQuestionText").css("opacity","0");
    $("#titleDislikeQuestionText").css("opacity","0");
    $("#dislikeQuestionText").css("opacity","0");
  }

  if (document.getElementById('checkText').value == "false" || document.getElementById('checkSwapArrows').value == "false") {
    $("#titleBackText").css("opacity","0");
    $("#backQuestionText").css("opacity","0");
    $("#titleNextText").css("opacity","0");
    $("#nextQuestionText").css("opacity","0");
  }


  // Проверка наличия свапа на стрелках
  document.getElementById('checkSwap').onclick = function() {
      if ( this.checked ) {
        $("#checkSwapFinger").css("opacity","1");
        $( "#checkSwapFinger" ).prop( "disabled", false );
        $("#checkSwapFingerText").css("opacity","1");
        $( "#checkSwapArrows" ).prop( "disabled", false );
        $("#checkSwapArrows").css("opacity","1");
        $("#checkSwapArrowsText").css("opacity","1");

        $('#checkSwapFinger').prop('checked', true);
        $('#checkSwapArrows').prop('checked', true);

        $("#imageBack").css("opacity","1");
        $("#imageNext").css("opacity","1");
        $("#styleImagesSwap").css("opacity","1");
        document.getElementById("styleImagesSwap").disabled = false;
        $(".styleImagesSwap").css("opacity","1");

      } else {
        $("#checkSwapFinger").css("opacity","0.5");
        $( "#checkSwapFinger" ).prop( "disabled", true );
        $("#checkSwapFinger").removeAttr("checked"); // снимает галочку

        $("#checkSwapArrows").css("opacity","0.5");
        $( "#checkSwapArrows" ).prop( "disabled", true );
        $("#checkSwapArrows").removeAttr("checked"); // снимает галочку

        $("#checkSwapFingerText").css("opacity","0.5");
        $("#checkSwapArrowsText").css("opacity","0.5");

        $("#imageBack").css("opacity","0");
        $("#imageNext").css("opacity","0");

        $("#styleImagesSwap").css("opacity","0.5");
       document.getElementById("styleImagesSwap").disabled = true;
       $(".styleImagesSwap").css("opacity","0.5");

      }
  };

  document.getElementById('checkSwapArrows').onclick = function() {
      if ( this.checked ) {
    $("#imageBack").css("opacity","1");
    $("#imageNext").css("opacity","1");
    $("#styleImagesSwap").css("opacity","1");
    document.getElementById("styleImagesSwap").disabled = false;
    $(".styleImagesSwap").css("opacity","1");
      } else {
         $("#imageBack").css("opacity","0");
         $("#imageNext").css("opacity","0");
         $("#styleImagesSwap").css("opacity","0.5");
         $(".styleImagesSwap").css("opacity","0.5");
        document.getElementById("styleImagesSwap").disabled = true;
      }
  };

  if (document.getElementById('checkSwapArrows').value == "false") {
    $("#imageBack").css("opacity","0");
    $("#imageNext").css("opacity","0");
  }

  // Проверка наличия прогресс-бара
  document.getElementById('checkProgressBar').onclick = function() {
      if ( this.checked ) {
    $("#progressBar").css("opacity","1");
      } else {
         $("#progressBar").css("opacity","0");
      }
  };

  if (document.getElementById('checkProgressBar').value == "false") {
    $("#progressBar").css("opacity","0");
  }

</script>


<script>
// Отрисовка галочки от значения из БД
if (document.getElementById('checkText').value == "true") {
      $('#checkText').prop('checked', true);
    }
if (document.getElementById('checkSound').value == "true") {
    $('#checkSound').prop('checked', true);
  }
if (document.getElementById('checkSwap').value == "true") {
    $('#checkSwap').prop('checked', true);
  }
if (document.getElementById('checkSwapFinger').value == "true") {
    $('#checkSwapFinger').prop('checked', true);
  }
if (document.getElementById('checkSwapArrows').value == "true") {
    $('#checkSwapArrows').prop('checked', true);
  }
if (document.getElementById('checkProgressBar').value == "true") {
    $('#checkProgressBar').prop('checked', true);
  }
if (document.getElementById('checkBtnResult').value == "true") {
    $('#checkBtnResult').prop('checked', true);
  }
</script>

<script>
// Клиентский код //
// Т.к перенес на сокеты - пока не нужно
  // $(document.forms['userTrainingSettings']).on('submit', function() {
  //   var form = $(this);
  //
  //   $('.error', form).html('');
  //   $(":submit", form).button("loading");
  //
  //   // Этот логин, пароль отправляется на сервер
  //   $.ajax({
  //     url: "/updateUserTrainingSettings/id<%=id%>", // роут: require('./login').post
  //     method: "POST",
  //     data: form.serialize(),
  //     complete: function() {
  //       $(":submit", form).button("reset");
  //     },
  //     statusCode: {
  //       // если ответ сервера 200 - перенаправляем человека в личный кабинет
  //       200: function() {
  //         location.reload();
  //       },
  //       // если 403 - высвечивается ошибка
  //       403: function(jqXHR) {
  //         var error = JSON.parse(jqXHR.responseText);
  //         $('.error', form).html(error.message);
  //       }
  //     }
  //   });
  // return false;
  // });
</script>


<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDivSiqkv7QoDAe8qiY1QevU5N4vQ7aHZw",
    authDomain: "profpref-c5ce0.firebaseapp.com",
    databaseURL: "https://profpref-c5ce0.firebaseio.com",
    projectId: "profpref-c5ce0",
    storageBucket: "profpref-c5ce0.appspot.com",
    messagingSenderId: "664101035809"
  };
  firebase.initializeApp(config);

  // Получаем доступ к Хранилищу
  var storage = firebase.app().storage("profpref-c5ce0.appspot.com");

      // Стиль назад и вперед
      $("#styleImagesSwap").on("input change", function() {
        var styleImagesSwap = $("#styleImagesSwap").val();

        var urlBack = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"back.png");
        var urlNext = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"next.png");

        urlBack.getDownloadURL().then(function(url) {
          console.log(url);
          $("#imageBack").attr('src', url);
        });
        urlNext.getDownloadURL().then(function(url) {
          console.log(url);
          $("#imageNext").attr('src', url);
        });
       });

  // Стиль лайка и дизлайка
  $("#styleImagesLikeDislike").on("input change", function() {
    var styleImagesLikeDislike = $("#styleImagesLikeDislike").val();
    var urlLike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"like.png");
    var urlDislike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"dislike.png");

    urlLike.getDownloadURL().then(function(url) {
      console.log(url);
      $("#imageLike").attr('src', url);
    });
    urlDislike.getDownloadURL().then(function(url) {
      console.log(url);
      $("#imageDislike").attr('src', url);
    });
   });

   // Стиль стоп теста
   $("#styleImageStopTest").on("input change", function() {
     var styleImageStopTest = $("#styleImageStopTest").val();
     var urlStopTest = storage.ref("/manager_buttons/stop_test/" + styleImageStopTest + "/" +"stop.png");

     urlStopTest.getDownloadURL().then(function(url) {
       console.log(url);
       $("#imageStopTest").attr('src', url);
     });
    });


   /////////////////////////////////////////////////////////////////////////////////////////////
   var styleImagesSwap = $("#styleImagesSwap").val();
   var urlBack = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"back.png");
   var urlNext = storage.ref("/manager_buttons/next_back/" + styleImagesSwap + "/" +"next.png");

   urlBack.getDownloadURL().then(function(url) {
     console.log(url);
     $("#imageBack").attr('src', url);
   });
   urlNext.getDownloadURL().then(function(url) {
     console.log(url);
     $("#imageNext").attr('src', url);
   });


   var styleImagesLikeDislike = $("#styleImagesLikeDislike").val();
   var urlLike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"like.png");
   var urlDislike = storage.ref("/manager_buttons/like_dislike/" + styleImagesLikeDislike + "/" +"dislike.png");

   urlLike.getDownloadURL().then(function(url) {
     console.log(url);
     $("#imageLike").attr('src', url);
  });
  urlDislike.getDownloadURL().then(function(url) {
    console.log(url);
    $("#imageDislike").attr('src', url);
  });
  //$("#styleImagesLikeDislike").attr('src', url);


  var styleImageStopTest = $("#styleImageStopTest").val();
  var urlStopTest = storage.ref("/manager_buttons/stop_test/" + styleImageStopTest + "/" +"stop.png");

  urlStopTest.getDownloadURL().then(function(url) {
    console.log(url);
    $("#imageStopTest").attr('src', url);
  });


</script>
